**/node_modules
**/generated
**/coverage
**/bin
**/obj
**/__tests__/**/*
!openapi/generated
.env
.git/**/*
.github/**/*
.vscode/**/*
.devops/**/*
.tours/**/*
__*/**/*
.prettierrc
.gitignore
.dockerignore
README.md
Dangerfile.js
CODEOWNERS
Dockerfile
