version: "2.2"

services:
  backend:
    command: ["yarn", "hot-reload"]
    container_name: italia-backend
    environment:
      - NODE_ENV=development
    expose:
      - "443"
    ports:
      - "443:443"
    image: node:8.6.0-alpine
    restart: always
    volumes:
      - "./app:/usr/src/app"
      - "./keys:/usr/src/app/certs"
    working_dir: "/usr/src/app"

  spid-testenv-identityserver:
    container_name: spid-testenv-identityserver
    image: italia/spid-testenv-identityserver:docker-compose
    ports:
      - "9443:9443"
    restart: always
    volumes:
      - "./logs/idp:/spid-testenvironment/is/identity-server/repository/logs"

  spid-testenv-backoffice:
    container_name: spid-testenv-backoffice
    depends_on:
      - spid-testenv-identityserver
    environment:
      - NODE_ENV=development
      - NODE_TLS_REJECT_UNAUTHORIZED=0
    image: italia/spid-testenv-backoffice:latest
    ports:
      - "8080:8080"
    restart: always
    volumes:
      - "./docker/spid/config.js:/spid-testenvironment/bo/backoffice/server/wso2/config.js"
