version: "2.2"

services:
  backend:
    command: ["yarn", "hot-reload"]
    container_name: italia-backend
    environment:
      - NODE_ENV=dev
      - REDIS_URL=redis://redis
    expose:
      - "443"
    ports:
      - "443:443"
    image: node:8.9.4-alpine
    volumes:
      - ".:/usr/src/app:delegated"
      - "./certs:/usr/src/app/certs:delegated"
    working_dir: "/usr/src/app"

  spid-testenv2:
    container_name: spid-testenv2
    image: italia/spid-testenv2:fix-c14n-issue-169
    ports:
      - "8088:8088"
    volumes:
      - "./testenv2/conf:/app/conf"

  redis:
    container_name: redis
    image: wodby/redis:3.2-2.1.5
    environment:
      REDIS_TIMEOUT: 300
      REDIS_TCP_KEEPALIVE: 60
      REDIS_MAXMEMORY: 182m
