version: "2.2"

services:
  backend:
    container_name: italia-backend
    build:
      context: ./
      dockerfile: Dockerfile
    environment:
      - NODE_ENV=dev
      - REDIS_URL=redis://redis
      - GITHUB_TOKEN
      - NODE_TLS_REJECT_UNAUTHORIZED=0
    expose:
      - "443"
    ports:
      - "443:443"
      - "5859:5859"
    image: node:18.13.0-alpine
    command: ["yarn", "hot-reload"]
    volumes:
      - ".:/usr/src/app"
    networks:
      - io-be

  spid-testenv2:
    container_name: spid-testenv2
    image: italia/spid-testenv2
    ports:
      - "8088:8088"
    volumes:
      - "./testenv2/conf:/app/conf:cached"
    networks:
      - io-be

  redis:
    container_name: redis
    image: wodby/redis:3.2-2.1.5
    ports:
      - "6379:6379"
    environment:
      REDIS_TIMEOUT: 300
      REDIS_TCP_KEEPALIVE: 60
      REDIS_MAXMEMORY: 182m
    networks:
      - io-be

  storage:
    image: azurite
    build:
      context: ./
      dockerfile: docker/images/azurite/Dockerfile
    command: ["sh", "-c", "node bin/azurite -l /opt/azurite/folder --blobPort 20003 --queuePort 20004 --tablePort 20005"]
    ports:
      - "20003:20003"
      - "20004:20004"
      - "20005:20005"
    networks:
      - io-be

networks:
  io-be:
    driver: bridge
    driver_opts:
      com.docker.network.driver.mtu: 1450
