openapi: 3.0.3
servers:
  - url: https://api-app.io.pagopa.it/api/v2
info:
  title: Services API
  version: 0.4.0
tags:
  - name: search
    description: Search APIs
  - name: details
    description: Retrieve resources details
  - name: featured
    description: Retrieve featured Lists
paths:
  /institutions:
    get:
      tags:
        - search
      summary: Find institutions
      description: Multiple status values can be provided with comma separated strings
      operationId: findInstitutions
      parameters:
        - name: search
          in: query
          description: A full-text search query expression
          required: false
          schema:
            type: string
        - name: scope
          in: query
          description: Institution scope
          required: false
          schema:
            type: string
            enum:
              - "NATIONAL"
              - "LOCAL"
        - name: limit
          in: query
          description: The number of search results to retrieve. This can be used in conjunction with skip to implement client-side paging of search results (https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part2-url-conventions.html#sec_SystemQueryOptionstopandskip).
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: offset
          in: query
          description: The number of search results to skip (https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part2-url-conventions.html#sec_SystemQueryOptionstopandskip). This value cannot be greater than 100,000.
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 100000
            default: 0
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstitutionsResource"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not found
        "500":
          description: Internal Server Error
  /institutions/{institutionId}/services:
    get:
      tags:
        - search
      summary: Find services for institution
      description: Given an Institution allow to find its services
      operationId: findInstutionServices
      parameters:
        - name: institutionId
          in: path
          description: ID of the institution to search for services
          required: true
          schema:
            type: string
        - name: limit
          in: query
          description: The number of search results to retrieve. This can be used in conjunction with skip to implement client-side paging of search results (https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part2-url-conventions.html#sec_SystemQueryOptionstopandskip).
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: offset
          in: query
          description: The number of search results to skip (https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part2-url-conventions.html#sec_SystemQueryOptionstopandskip). This value cannot be greater than 100,000.
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 100000
            default: 0
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstitutionServicesResource"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not found
        "500":
          description: Internal Server Error
  /services/{serviceId}:
    get:
      tags:
        - details
      summary: Retrieve service details
      description: Retrieve a service by ID
      operationId: getServiceById
      parameters:
        - name: serviceId
          in: path
          description: ID of service to return
          required: true
          schema:
            type: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceDetails"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not found
        "500":
          description: Internal Server Error
  /services/featured:
    get:
      tags:
        - featured
      summary: Retrieve featured services
      operationId: getFeaturedServices
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeaturedServices"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not found
        "500":
          description: Internal Server Error
components:
  schemas:
    InstitutionsResource:
      allOf:
        - $ref: "#/components/schemas/Institutions"
        - $ref: "#/components/schemas/PaginationResultSet"
    Institutions:
      type: object
      properties:
        institutions:
          type: array
          items:
            $ref: "#/components/schemas/Institution"
    Institution:
      type: object
      properties:
        id:
          type: string
          description: Institution ID
          example: 12345678901
        name:
          type: string
          description: Institution Name
          example: Comune di Roma
        fiscal_code:
          $ref: "#/components/schemas/OrganizationFiscalCode"
    InstitutionServicesResource:
      allOf:
        - $ref: "#/components/schemas/Services"
        - $ref: "#/components/schemas/PaginationResultSet"
    Services:
      type: object
      properties:
        services:
          type: array
          items:
            $ref: "#/components/schemas/ServiceMinified"
    ServiceMinified:
      type: object
      description: Service data (minified)
      properties:
        id:
          type: string
          description: Service ID
        name:
          type: string
          description: Service Name
          example: Tari
        version:
          type: integer
          description: Service Version (_ts)_
          example: 1687776265
    ServiceDetails:
      type: object
      properties:
        id:
          type: string
          description: Service ID
        name:
          type: string
          description: Service name
        description:
          type: string
          description: Service description
        organization:
          $ref: "#/components/schemas/Organization"
        available_notification_channels:
          $ref: "#/components/schemas/AvailableNotificationChannels"
        metadata:
          $ref: "#/components/schemas/ServiceMetadata"
        version:
          type: integer
          description: Service version
      required:
        - id
        - name
        - version
    FeaturedServices:
      type: object
      properties:
        services:
          type: array
          items:
            $ref: "#/components/schemas/FeaturedService"
    FeaturedService:
      type: object
      properties:
        organization_fiscal_code:
          $ref: "#/components/schemas/OrganizationFiscalCode"
      allOf:
        - $ref: "#/components/schemas/ServiceMinified"
    ServiceMetadata:
      $ref: "https://raw.githubusercontent.com/pagopa/io-services-cms/master/packages/io-services-cms-models/openapi/services-cms-schemas.yaml#/ServiceMetadata"
    Organization:
      $ref: "https://raw.githubusercontent.com/pagopa/io-services-cms/master/packages/io-services-cms-models/openapi/services-cms-schemas.yaml#/Organization"
    OrganizationFiscalCode:
      $ref: "https://raw.githubusercontent.com/pagopa/io-services-cms/master/packages/io-services-cms-models/openapi/commons-schemas.yaml#/OrganizationFiscalCode"
    PaginationResultSet:
      $ref: "https://raw.githubusercontent.com/pagopa/io-services-cms/master/packages/io-services-cms-models/openapi/commons-schemas.yaml#/PaginationResultSet"
    AvailableNotificationChannels:
      description: All the notification channels available for a service
      type: array
      items:
        $ref: "#/components/schemas/NotificationChannel"
    NotificationChannel:
      type: string
      description: All notification channels
      enum:
        - EMAIL
        - WEBHOOK
      example: [EMAIL]
