openapi: 3.0.1
servers:
  - url: https://api-app.io.pagopa.it/api/v1
info:
  title: Fast login API
  version: 1.0.0

paths:
  /fast-login:
    post:
      operationId: fastLogin
      summary: POST a session refresh request with Lollipop
      parameters:
        - $ref: "./lollipop_definitions.yaml#/components/parameters/LollipopMethodHeader"
        - $ref: "./lollipop_definitions.yaml#/components/parameters/LollipopOriginalURLHeader"
        - $ref: "./lollipop_definitions.yaml#/components/parameters/LollipopSignatureInputHeader"
        - $ref: "./lollipop_definitions.yaml#/components/parameters/LollipopSignatureHeader"
      responses:
        "200":
          description: Success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FastLoginResponse"
        "401":
          description: Unauthorized(invalid signature or nonce)
        "403":
          description: |
            Forbidden access.
            Fast login won't work. A FULL login flow is REQUIRED
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemJson"
        "502":
          description: Bad gateway.
        "504":
          description: Gateway timeout.
components:
  schemas:
    FastLoginResponse:
      $ref: "./generated/api_public.yaml#/definitions/AccessToken"
    ProblemJson:
      $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/v28.2.0/openapi/definitions.yaml#/ProblemJson"
