openapi: 3.0.1
info:
  title: Proxy API
  description: Mobile and web proxy API gateway.
  version: 16.7.0
servers:
  - url: https://api-app.io.pagopa.it/api/v1
security:
  - Bearer: []
paths:
  /messages:
    get:
      summary: Get user's messages
      description: |-
        Returns the messages for the user identified by the provided fiscal code.
        Messages will be returned in inverse acceptance order (from last to first).
        The "next" field, when present, contains an URL pointing to the next page of results.
      operationId: getUserMessages
      parameters:
        - name: page_size
          in: query
          description: How many items a page should include.
          schema:
            maximum: 100
            minimum: 1
            type: integer
        - name: enrich_result_data
          in: query
          description: Indicates whether result data should be enriched or not.
          schema:
            type: boolean
        - name: archived
          in: query
          description:
            Indicates whether retrieve archived/not archived messages. Default
            is false
          schema:
            type: boolean
        - name: maximum_id
          in: query
          description: The maximum id to get messages until to.
          schema:
            maxLength: 26
            minLength: 26
            pattern: "[0-9a-hjkmnp-tv-zA-HJKMNP-TV-Z]{26}"
            type: string
        - name: minimum_id
          in: query
          description: The minimum id to get messages from.
          schema:
            maxLength: 26
            minLength: 26
            pattern: "[0-9a-hjkmnp-tv-zA-HJKMNP-TV-Z]{26}"
            type: string
      responses:
        "200":
          description: Found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedPublicMessagesCollection"
              example:
                items:
                  - created_at: 2018-05-21T07:36:41.209Z
                    fiscal_code: LSSLCU79B24L219P
                    id: 01CE0T1Z18T3NT9ECK5NJ09YR3
                    sender_service_id: 5a563817fcc896087002ea46c49a
                    time_to_live: 3600
                  - created_at: 2018-05-21T07:41:01.361Z
                    fiscal_code: LSSLCU79B24L219P
                    id: 01CE0T9X1HT595GEF8FH9NRSW7
                    sender_service_id: 5a563817fcc896087002ea46c49a
                    time_to_live: 3600
                next: 01CE0T9X1HT595GEF8FH9NRSW7
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemJson"
        "401":
          description: Bearer token null or expired.
          content: {}
        "404":
          description: No message found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemJson"
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemJson"
        "500":
          description: There was an error in retrieving the messages.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemJson"
  /messages/{id}:
    get:
      summary: Get message
      description: Returns the message with the provided message ID.
      operationId: getUserMessage
      parameters:
        - name: id
          in: path
          description: The message id in ulid format
          required: true
          schema:
            maxLength: 26
            minLength: 26
            pattern: "[0-9a-hjkmnp-tv-zA-HJKMNP-TV-Z]{26}"
            type: string
        - name: public_message
          in: query
          description:
            Discriminate when to return public message shape. Default to
            false.
          schema:
            type: boolean
      responses:
        "200":
          description: Found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreatedMessageWithContentAndAttachments"
              example: |
                content: {
                  markdown: "hey hey !! <a style=\"color: red\" href=\"http://example.com\"> some content here ..... this is a link with a style applied, some other content</a>",
                  subject: "my subject ............",
                  attachments: [{name:"attachment", content:"aBase64Encoding", mime_type: "image/png"}]
                },
                created_at: "2018-06-06T12:22:24.523Z",
                fiscal_code: "LSSLCU79B24L219P",
                id: "01CFAGRMGB9XCA8B2CQ4QA7K76",
                sender_service_id: "5a25abf4fcc89605c082f042c49a",
                time_to_live: 3600
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemJson"
        "401":
          description: Bearer token null or expired.
          content: {}
        "404":
          description: No message found for the provided ID.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemJson"
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemJson"
        "500":
          description: There was an error in retrieving the message.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemJson"
  /messages/{id}/message-status:
    put:
      summary: UpsertMessageStatusAttributes
      description: Updates the status of a message with attributes
      operationId: upsertMessageStatusAttributes
      parameters:
        - name: id
          in: path
          description: The message id in ulid format
          required: true
          schema:
            maxLength: 26
            minLength: 26
            pattern: "[0-9a-hjkmnp-tv-zA-HJKMNP-TV-Z]{26}"
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MessageStatusChange"
        required: true
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageStatusAttributes"
              example:
                is_read: "true,"
                is_archived: false
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemJson"
        "401":
          description: Bearer token null or expired.
          content: {}
        "403":
          description: Operation forbidden.
          content: {}
        "404":
          description: No message found for the provided ID.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemJson"
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemJson"
        "500":
          description: There was an error in upserting message's status attributes.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemJson"
      x-codegen-request-body-name: body
  /third-party-messages/{id}:
    get:
      summary: Retrieve Third Party message
      description: Returns the Third Party message with the provided message ID.
      operationId: getThirdPartyMessage
      parameters:
        - name: id
          in: path
          description: The message id in ulid format
          required: true
          schema:
            maxLength: 26
            minLength: 26
            pattern: "[0-9a-hjkmnp-tv-zA-HJKMNP-TV-Z]{26}"
            type: string
      responses:
        "200":
          description: Found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThirdPartyMessageWithContent"
            text/json:
              example:
                "content: {\n  markdown: \"hey hey !! <a style=\\\"color: red\\\
                \" href=\\\"http://example.com\\\"> some content here ..... this is\
                \ a link with a style applied, some other content</a>\",\n  subject:\
                \ \"my subject ............\",\n  third_party_data: [{id: \"aThirdPartyMessageId\"\
                }]\n},\nthird_party_message: { \n  attachments: [], \n  custom_property:\
                \ \"a custom property\" \n},\ncreated_at: \"2018-06-06T12:22:24.523Z\"\
                ,\nfiscal_code: \"LSSLCU79B24L219P\",\nid: \"01CFAGRMGB9XCA8B2CQ4QA7K76\"\
                ,\nsender_service_id: \"5a25abf4fcc89605c082f042c49a\",\ntime_to_live:\
                \ 3600\n"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemJson"
        "401":
          description: Bearer token null or expired.
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: No message found for the provided ID.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemJson"
        "410":
          description: Third Party Service no longer available
          content: {}
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemJson"
        "500":
          description: There was an error in retrieving the message.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemJson"
        "501":
          description: Not Implemented
          content: {}
        "504":
          description: Gateway Timeout
          content: {}
  /third-party-messages/{id}/attachments/{attachment_url}:
    get:
      summary: Retrieve an attachment of a Thrid Party message
      operationId: getThirdPartyMessageAttachment
      parameters:
        - name: id
          in: path
          description: The message id in ulid format
          required: true
          schema:
            maxLength: 26
            minLength: 26
            pattern: "[0-9a-hjkmnp-tv-zA-HJKMNP-TV-Z]{26}"
            type: string
        - name: attachment_url
          in: path
          required: true
          schema:
            minLength: 1
            type: string
      responses:
        "200":
          description: Success
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        "400":
          description: Bad Request
          content: {}
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: No message found for the provided ID.
          content:
            application/octet-stream:
              schema:
                $ref: "#/components/schemas/ProblemJson"
        "410":
          description: Third Party Service no longer available
          content: {}
        "429":
          description: Too Many Requests
          content: {}
        "500":
          description: Internal Server Error
          content: {}
        "501":
          description: Not Implemented
          content: {}
        "504":
          description: Gateway Timeout
          content: {}
  /third-party-messages/{id}/precondition:
    get:
      summary:
        Retrieve Third Party message precondition to receive the third party
        content
      description:
        Returns the Third Party message precondition associated to the
        provided message ID to receive the third party content.
      operationId: getThirdPartyMessagePrecondition
      parameters:
        - name: id
          in: path
          description: The message id in ulid format
          required: true
          schema:
            maxLength: 26
            minLength: 26
            pattern: "[0-9a-hjkmnp-tv-zA-HJKMNP-TV-Z]{26}"
            type: string
      responses:
        "200":
          description: Found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThirdPartyMessagePrecondition"
            text/json:
              example: |
                "title": "Questo messaggio contiene una comunicazione a valore legale",
                "markdown": "Se continui, la notifica risulterà legalmente recapitata a te. Aprire il messaggio su IO equivale infatti a firmare la ricevuta di ritorno di una raccomandata tradizionale.\n**Mittente**: Comune di Xxxxxxx  \n**Oggetto**: Infrazione al codice della strada  \n**Data e ora**: 12 Luglio 2022 - 12.36  \n**Codice IUN**: YYYYMM-1-ABCD-EFGH-X"
        "204":
          description: Pre conditions not needed
          content: {}
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemJson"
        "401":
          description: Bearer token null or expired.
          content: {}
        "403":
          description: Forbidden
          content: {}
        "404":
          description: No message found for the provided ID.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemJson"
        "410":
          description: Third Party Service no longer available
          content: {}
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemJson"
        "500":
          description: There was an error in retrieving the message.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemJson"
        "501":
          description: Not Implemented
          content: {}
        "504":
          description: Gateway Timeout
          content: {}
components:
  schemas:
    FiscalCode:
      $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/openapi-v3-definitions/openapi/definitions_v3.yaml#/FiscalCode"
    OrganizationFiscalCode:
      $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/openapi-v3-definitions/openapi/definitions_v3.yaml#/OrganizationFiscalCode"
    Timestamp:
      $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/openapi-v3-definitions/openapi/definitions_v3.yaml#/Timestamp"
    TimeToLiveSeconds:
      $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/openapi-v3-definitions/openapi/definitions_v3.yaml#/TimeToLiveSeconds"
    ProblemJson:
      $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/openapi-v3-definitions/openapi/definitions_v3.yaml#/ProblemJson"
    PublicMessage:
      $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/openapi-v3-definitions/openapi/definitions_v3.yaml#/PublicMessage"
    PublicMessagesCollection:
      $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/openapi-v3-definitions/openapi/definitions_v3.yaml#/PublicMessagesCollection"
    PaginatedPublicMessagesCollection:
      $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/openapi-v3-definitions/openapi/definitions_v3.yaml#/PaginatedPublicMessagesCollection"
    EnrichedMessage:
      $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/openapi-v3-definitions/openapi/definitions_v3.yaml#/EnrichedMessage"
    BaseEnrichedMessage:
      $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/openapi-v3-definitions/openapi/definitions_v3.yaml#/BaseEnrichedMessage"
    MessageStatusAttributes:
      $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/openapi-v3-definitions/openapi/definitions_v3.yaml#/MessageStatusAttributes"
    CreatedMessageWithoutContent:
      $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/openapi-v3-definitions/openapi/definitions_v3.yaml#/CreatedMessageWithoutContent"
    CreatedMessageWithoutContentCollection:
      $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/openapi-v3-definitions/openapi/definitions_v3.yaml#/CreatedMessageWithoutContentCollection"
    CreatedMessageWithContentAndAttachments:
      allOf:
        - type: object
          properties:
            content:
              $ref: "#/components/schemas/MessageContentWithAttachments"
          required:
            - content
        - $ref: "#/components/schemas/CreatedMessageWithContentResponse"
    MessageContentWithAttachments:
      allOf:
        - type: object
          properties:
            attachments:
              type: array
              items:
                $ref: "#/components/schemas/MessageAttachment"
        - $ref: "#/components/schemas/NewMessageContent"
    MessageAttachment:
      type: object
      title: MessageAttachment
      description: Describes a message's attachment
      properties:
        name:
          type: string
        content:
          type: string
        mime_type:
          type: string
      required:
        - name
        - content
        - mime_type
    NewMessageContent:
      $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/openapi-v3-definitions/openapi/definitions_v3.yaml#/NewMessageContent"
    MessageContentBase:
      $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/openapi-v3-definitions/openapi/definitions_v3.yaml#/MessageContentBase"
    MessageBodyMarkdown:
      $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/openapi-v3-definitions/openapi/definitions_v3.yaml#/MessageBodyMarkdown"
    MessageSubject:
      $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/openapi-v3-definitions/openapi/definitions_v3.yaml#/MessageSubject"
    EUCovidCert:
      $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/openapi-v3-definitions/openapi/definitions_v3.yaml#/EUCovidCert"
    Payee:
      $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/openapi-v3-definitions/openapi/definitions_v3.yaml#/Payee"
    PaymentDataBase:
      $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/openapi-v3-definitions/openapi/definitions_v3.yaml#/PaymentDataBase"
    PaymentDataWithRequiredPayee:
      $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/openapi-v3-definitions/openapi/definitions_v3.yaml#/PaymentDataWithRequiredPayee"
    CreatedMessageWithContentResponse:
      $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/openapi-v3-definitions/openapi/definitions_v3.yaml#/CreatedMessageWithContentResponse"
    CreatedMessageWithContentAndEnrichedData:
      $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/openapi-v3-definitions/openapi/definitions_v3.yaml#/CreatedMessageWithContentAndEnrichedData"
    CreatedMessageWithContent:
      $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/openapi-v3-definitions/openapi/definitions_v3.yaml#/CreatedMessageWithContent"
    PrescriptionData:
      $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/openapi-v3-definitions/openapi/definitions_v3.yaml#/PrescriptionData"
    ThirdPartyData:
      $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/openapi-v3-definitions/openapi/definitions_v3.yaml#/ThirdPartyData"
    HasPrecondition:
      $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/openapi-v3-definitions/openapi/definitions_v3.yaml#/HasPrecondition"
    Ulid:
      $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/openapi-v3-definitions/openapi/definitions_v3.yaml#/Ulid"
    LegalData:
      $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/openapi-v3-definitions/openapi/definitions_v3.yaml#/LegalData"
    ServiceId:
      $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/openapi-v3-definitions/openapi/definitions_v3.yaml#/ServiceId"
    MessageStatusReadingChange:
      $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/openapi-v3-definitions/openapi/definitions_v3.yaml#/MessageStatusReadingChange"
    MessageStatusArchivingChange:
      $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/openapi-v3-definitions/openapi/definitions_v3.yaml#/MessageStatusArchivingChange"
    MessageStatusBulkChange:
      $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/openapi-v3-definitions/openapi/definitions_v3.yaml#/MessageStatusBulkChange"
    MessageStatusChange:
      $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/openapi-v3-definitions/openapi/definitions_v3.yaml#/MessageStatusChange"
    ThirdPartyMessageWithContent:
      $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/openapi-v3-definitions/openapi/definitions_v3.yaml#/ThirdPartyMessageWithContent"
    ThirdPartyMessage:
      $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/openapi-v3-definitions/openapi/definitions_v3.yaml#/ThirdPartyMessage"
    ThirdPartyAttachment:
      $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/openapi-v3-definitions/openapi/definitions_v3.yaml#/ThirdPartyAttachment"
    ThirdPartyMessagePrecondition:
      $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/openapi-v3-definitions/openapi/definitions_v3.yaml#/ThirdPartyMessagePrecondition"
    MessageCategory:
      $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/openapi-v3-definitions/openapi/definitions_v3.yaml#/MessageCategory"
    MessageCategoryBase:
      $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/openapi-v3-definitions/openapi/definitions_v3.yaml#/MessageCategoryBase"
    MessageCategoryPayment:
      $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/openapi-v3-definitions/openapi/definitions_v3.yaml#/MessageCategoryPayment"
    MessageCategoryPN:
      $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/openapi-v3-definitions/openapi/definitions_v3.yaml#/MessageCategoryPN"
    InvalidThirdPartyMessageType:
      type: string
      x-extensible-enum:
        - ATTACHMENTS_NOT_PRESENT
        - REMOTE_CONTENT_NOT_PRESENT
        - MARKDOWN_VALIDATION_ERROR
        - SUBJECT_VALIDATION_ERROR
      description: A representation of all the error type for an invalid ThirdPartyMessage
      x-example: ATTACHMENTS_NOT_PRESENT
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
