version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8.9.4

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "yarn.lock" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      # Install yarn dependencies
      - run: yarn install --cache-folder ~/.cache/yarn

      # Save node_modules to the cache
      - save_cache:
          paths:
            - node_modules
            - ~/.cache/yarn
          key: v1-dependencies-{{ checksum "yarn.lock" }}

      # Install required libraries
      - run: sudo apt-get install libunwind8

      # Generate the proxy API models
      - run: yarn generate:proxy-models

      # Generate certificates
      - run: yarn generate:test-certs

      # Run tests
      - run: yarn lint
      - run: yarn build-noemit
      - run:
          name: Run tests
          command: yarn test
          environment:
            PRE_SHARED_KEY: "12345"
            ALLOW_NOTIFY_IP_SOURCE_RANGE: "::ffff:ac13:1/112"
            ALLOW_PAGOPA_IP_SOURCE_RANGE: "::ffff:ac13:1/112"
            AZURE_NH_HUB_NAME: ""
            AZURE_NH_ENDPOINT: ""
            AUTHENTICATION_BASE_PATH: ""
            API_BASE_PATH: "/api/v1"
            PAGOPA_API_URL: "https://pagopa-proxy"
            PAGOPA_API_URL_TEST: "https://pagopa-proxy-test"
            PAGOPA_BASE_PATH: "/pagopa/api/v1"
      - run: 'bash <(curl -s https://codecov.io/bash)'

      # Run DangerJS
      - run: '[ -z "$DANGER_GITHUB_API_TOKEN" ] || yarn danger ci'
