openapi: 3.0.3
info:
  title: 'Piattaforma Notifiche: API B2B per backend AppIO'
  description: |-
    ## Abstract
      API utilizzate dal backend di AppIO per recuperare:
      - i dettagli della notifica
      - gli url dei documenti allegati alla notifica
      - gli url degli atti opponibili a terzi
  termsOfService: https://da-definire/
  contact:
    email: pn@pagopa.it
  license:
    name: Licenza di PN
    url: https://da-definire/
  version: 9.7.0
  x-api-id: api-external-b2b-appio
  x-summary: 'Piattaforma Notifiche: API B2B per backend AppIO'
servers:
  - url: https://api-io.pn.pagopa.it
    description: Ambiente di produzione
  - url: https://api-io.uat.pn.pagopa.it
    description: Ambiente di test
  - url: https://api-io.dev.pn.pagopa.it
    description: Ambiente di sviluppo
security:
  - ApiKeyAuth: []
tags:
  - name: AppIO-PN-Notification
    description: Notification details
  - name: AppIO-PN-Documents
    description: Notification Documents
  - name: AppIO-PN-LegalFacts
    description: Notification Legal Facts
paths:
  delivery/notifications/received/{iun}:
    get:
      tags:
        - AppIO-PN-Notification
      summary: Accesso notifiche ricevute
      description: >-
        Utilizzato da Persone Fisiche e Persone Giuridiche per accedere ai
        dettagli delle  notifiche ricevute.
      operationId: getReceivedNotification
      parameters:
        - name: iun
          in: path
          description: Identificativo Univoco Notifica
          required: true
          schema:
            type: string
        - name: x-pagopa-cx-taxid
          in: header
          description: Customer taxId, used in B2B AppIO.
          required: true
          schema:
            maxLength: 16
            minLength: 16
            pattern: >-
              ^[A-Z]{6}[0-9LMNPQRSTUV]{2}[A-Z]{1}[0-9LMNPQRSTUV]{2}[A-Z]{1}[0-9LMNPQRSTUV]{3}[A-Z]{1}
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FullReceivedNotification'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  delivery/notifications/sent/{iun}/attachments/documents/{docIdx}:
    get:
      tags:
        - AppIO-PN-Documents
      summary: Download documento notificato
      operationId: getSentNotificationDocument
      parameters:
        - name: iun
          in: path
          description: Identificativo Univoco Notifica
          required: true
          schema:
            type: string
        - name: docIdx
          in: path
          description: indice del documento nella lista partendo da 0.
          required: true
          schema:
            type: number
        - name: x-pagopa-cx-taxid
          in: header
          description: Customer taxId, used in B2B AppIO.
          required: true
          schema:
            maxLength: 16
            minLength: 16
            pattern: >-
              ^[A-Z]{6}[0-9LMNPQRSTUV]{2}[A-Z]{1}[0-9LMNPQRSTUV]{2}[A-Z]{1}[0-9LMNPQRSTUV]{3}[A-Z]{1}
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/NotificationAttachmentDownloadMetadataResponse
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  delivery-push/{iun}/legal-facts/{legalFactType}/{legalFactId}:
    get:
      tags:
        - AppIO-PN-LegalFacts
      summary: Download atto opponibile a terzi
      description: Permette di scaricare un atto opponibile a terzi
      operationId: getLegalFact
      parameters:
        - name: iun
          in: path
          description: Identificativo Univoco Notifica
          required: true
          schema:
            type: string
        - name: legalFactType
          in: path
          description: Categoria dell'atto opponbile a terzi
          required: true
          style: simple
          explode: false
          schema:
            title: Tipi di atti opponibili a terzi
            type: string
            description: >-
              Tipi di atti opponibili a terzi che Piattaforam Notiiche mette a
              disposizione dei suoi utenti.
                - SENDER_ACK: atto di "presa in carico" di una notifica
                - DIGITAL_DELIVERY: atto di consegna digitale
                - ANALOG_DELIVERY: atto di consegna cartacea
                - RECIPIENT_ACCESS: atto di consegna per avvenuto accesso alla piattaforma
                - PEC_RECEIPT: ricevuta PEC
        - name: legalFactId
          in: path
          description: Identificativo dell'atto opponbile a terzi
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: x-pagopa-cx-taxid
          in: header
          description: Customer taxId, used in B2B AppIO.
          required: true
          schema:
            maxLength: 16
            minLength: 16
            pattern: >-
              ^[A-Z]{6}[0-9LMNPQRSTUV]{2}[A-Z]{1}[0-9LMNPQRSTUV]{2}[A-Z]{1}[0-9LMNPQRSTUV]{3}[A-Z]{1}
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegalFactDownloadMetadataResponse'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
components:
  schemas:
    FullReceivedNotification:
      description: >-
        Le informazioni riguardanti una richiesta di notifica accettata e il
        processo di  inoltro della notifica verso i destinatari (Persone Fisiche
        o Giuridiche).
      allOf:
        - $ref: '#/components/schemas/SentNotification'
        - required:
            - notificationStatus
            - notificationStatusHistory
            - timeline
          type: object
          properties:
            notificationStatus:
              $ref: '#/components/schemas/NotificationStatus'
            notificationStatusHistory:
              $ref: '#/components/schemas/NotificationStatusHistory'
            timeline:
              type: array
              description: >-
                elenco dettagliato di tutto ciò che è accaduto durrante il
                processo di notifica
              items:
                $ref: '#/components/schemas/TimelineElement'
    NotificationStatus:
      type: string
      description: |
        stato di avanzamento del processo di notifica:
          * `IN_VALIDATION` - notifica depositata in attesa di validazione
          * `ACCEPTED` - notifica accettata 
          * `REFUSED` - notifica rifiutata
          * `DELIVERING` - notifica in spedita
          * `DELIVERED` - notifica ricevuta da tutti i destinatari
          * `VIEWED` - notifica presa visione per almeno un destinatario
          * `EFFECTIVE_DATE` - notifica perfezionata per un destinatario
          * `PAID` - notifica pagata
          * `UNREACHABLE` - notifica non recapitabile
          * `CANCELLED` - notifica annullata dal mittente       
    NotificationStatusHistory:
      type: array
      description: elenco degli avanzamenti effettuati dal processo di notifica
      items:
        $ref: '#/components/schemas/NotificationStatusHistoryElement'
    LegalFactDownloadMetadataResponse:
      title: Url e metadati per il download di un allegato di una notifica
      required:
        - contentLength
        - filename
      type: object
      properties:
        filename:
          type: string
        contentLength:
          type: number
          description: dmensione, in byte, del contenuto.
          example: 54092
        url:
          type: string
          description: >-
            URL preautorizzato a cui effettuare una richiesta GET per ottenere
            il  contenuto del documento. Presente solo se il documento è pronto
            per il download.
        retryAfter:
          type: number
          description: >-
            Stima del numero di secondi da aspettare prima che il contenuto del 
            documento sia scaricabile.
      description: |-
        I due campi più importanti sono __url__ e __retryAfter__. <br/>
          - __url__ è presente se il file è pronto per essere scaricato ed indica l'url a cui fare GET.
          - __retryAfter__ indica che il file non è stato archiviato e bisognerà aspettare un numero di
            secondi non inferiore a quanto indicato dal campo _retryAfter_. <br/>
    Problem:
      required:
        - errors
        - status
        - title
        - type
      type: object
      properties:
        type:
          type: string
          description: URI reference of type definition
        status:
          maximum: 600
          exclusiveMaximum: true
          minimum: 100
          type: integer
          description: >-
            The HTTP status code generated by the origin server for this
            occurrence of the problem.
          format: int32
          example: 400
        title:
          maxLength: 64
          pattern: ^[ -~]{0,64}$
          type: string
          description: >-
            A short, summary of the problem type. Written in english and
            readable
          example: Service Unavailable
        detail:
          maxLength: 4096
          pattern: ^.{0,1024}$
          type: string
          description: A human readable explanation of the problem.
          example: Request took too long to complete.
        errors:
          minItems: 0
          type: array
          items:
            $ref: '#/components/schemas/ProblemError'
      additionalProperties: false
    ProblemError:
      type: object
      required:
        - code
        - detail
      properties:
        code:
          maxLength: 8
          pattern: ^[0-9]{3}-[0-9]{4}$
          type: string
          description: Internal code of the error
          example: 123-4567
        detail:
          maxLength: 4096
          pattern: ^.{0,1024}$
          type: string
          description: >-
            A human readable explanation specific to this occurrence of the
            problem.
          example: Parameter not valid
    NotificationAttachmentDownloadMetadataResponse:
      title: Url e metadati per il download di un allegato di una notifica
      required:
        - contentLength
        - contentType
        - filename
        - sha256
      type: object
      properties:
        filename:
          type: string
        contentType:
          type: string
          example: application/pdf
        contentLength:
          type: number
          description: dmensione, in byte, del contenuto.
          example: 54092
        sha256:
          type: string
          description: SHA256 del contenuto del file.
        url:
          type: string
          description: >-
            URL preautorizzato a cui effettuare una richiesta GET per ottenere
            il  contenuto del documento. Presente solo se il documento è pronto
            per il download.
        retryAfter:
          type: number
          description: >-
            Stima del numero di secondi da aspettare prima che il contenuto del 
            documento sia disponibile per il download.
      description: |-
        I due campi più importanti sono __url__ e __retryAfter__. <br/>
          - __url__ è presente se il file è pronto per essere scaricato ed indica l'url a cui fare GET.
          - __retryAfter__ indica che il file è stato archiviato e bisognerà aspettare un numero di
            secondi non inferiore a quanto indicato dal campo _retryAfter_. <br/>
    LegalFactCategory:
      title: Tipi di atti opponibili a terzi
      type: string
      description: >-
        Tipi di atti opponibili a terzi che Piattaforam Notiiche mette a
        disposizione dei suoi utenti.
          - SENDER_ACK: atto di "presa in carico" di una notifica
          - DIGITAL_DELIVERY: atto di consegna digitale
          - ANALOG_DELIVERY: atto di consegna cartacea
          - RECIPIENT_ACCESS: atto di consegna per avvenuto accesso alla piattaforma
          - PEC_RECEIPT: ricevuta PEC
    CxTypeAuthFleet:
      type: string
      enum:
        - PA
        - PF
        - PG
    SentNotification:
      description: Le informazioni riguardanti una richiesta di notifica accettata
      allOf:
        - $ref: '#/components/schemas/NewNotificationRequest'
        - required:
            - iun
            - sentAt
          type: object
          properties:
            senderPaId:
              type: string
              description: >-
                Identificativo IPA della PA mittente che ha eseguito
                l'onborading su SelfCare.
            iun:
              type: string
              description: L'Identificativo Univoco Notifica assegnato da PN
            sentAt:
              type: string
              description: Momento di ricezione della notifica da parte di PN
              format: date-time
            cancelledByIun:
              type: string
              description: IUN della notifica che ha annullato questa notifica
            documentsAvailable:
              type: boolean
              description: Indica se i documenti notificati sono ancora disponibili.
    NewNotificationRequest:
      required:
        - documents
        - notificationFeePolicy
        - paProtocolNumber
        - physicalCommunicationType
        - recipients
        - subject
      type: object
      properties:
        idempotenceToken:
          type: string
          description: >-
            Identificativo utilizzabile dal chiamante per disambiguare
            differenti  "richieste di notificazione" effetuate con lo stesso
            numero di protocollo  (campo _paProtocolNumber_). Questo può essere
            necessario in caso di  "richiesta di notifica" rifiutata per errori
            nei codici di verifica degli allegati.
        paProtocolNumber:
          type: string
          description: Numero di protocollo che la PA mittente assegna alla notifica stessa
        subject:
          type: string
          description: titolo della notifica
        abstract:
          type: string
          description: descrizione sintetica della notifica
        recipients:
          type: array
          description: Informazioni sui destinatari
          items:
            $ref: '#/components/schemas/NotificationRecipient'
        documents:
          minItems: 1
          type: array
          description: Documenti notificati
          items:
            $ref: '#/components/schemas/NotificationDocument'
        notificationFeePolicy:
          type: string
          description: >-
            Politica di addebitamento dei costi di notifica. <br/> -
            _FLAT_RATE_: costo forfettario fisso. <br/> - _DELIVERY_MODE_: costo
            calcolato in base all'effettivo percorso di notifica. <br/>
          enum:
            - FLAT_RATE
            - DELIVERY_MODE
        cancelledIun:
          type: string
          description: IUN della notifica annullata da questa notifica
        physicalCommunicationType:
          type: string
          description: Tipologia comunicazione fisica
          enum:
            - SIMPLE_REGISTERED_LETTER
            - REGISTERED_LETTER_890
        senderDenomination:
          type: string
          description: Denominazione dell'ente mittente
        senderTaxId:
          type: string
          description: Codice Fiscale dell'ente mittente
        group:
          type: string
          description: Gruppo di utenti dell'ente mittente che può visualizzare la notifica
        amount:
          type: integer
          description: Importo della notifica in eurocent
        paymentExpirationDate:
          pattern: ^([0-9]{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$
          type: string
          description: >-
            Data di scadenza del pagamento nel formato YYYY-MM-DD riferito
            all'Italia
      description: I campi utilizzati per la creazione di una nuova Notifica.
    NotificationRecipient:
      required:
        - denomination
        - recipientType
        - taxId
      type: object
      properties:
        recipientType:
          type: string
          description: >-
            Tipologia di destinatario: Persona Fisica (PF) o Persona Giuridica
            (PG)
          enum:
            - PF
            - PG
        taxId:
          type: string
          description: Codice Fiscale del destinatario
        internalId:
          type: string
          description: id interno anonimizzato
        denomination:
          type: string
          description: Nome e cognome / ragione sociale
        digitalDomicile:
          $ref: '#/components/schemas/NotificationDigitalAddress'
        physicalAddress:
          $ref: '#/components/schemas/NotificationPhysicalAddress'
        payment:
          $ref: '#/components/schemas/NotificationPaymentInfo'
      description: Informazioni sui destinatari
    NotificationDigitalAddress:
      required:
        - address
        - type
      type: object
      properties:
        type:
          type: string
          description: tipo di indirizzo PEC, REM, SERCQ, ...
          enum:
            - PEC
        address:
          type: string
          description: >-
            Indirizzo PEC o REM che il mittente della notifica intende
            utilizzare per  raggiungere il destinatario.
          example: account@domain
      description: Indirizzo di invio della notifica
    NotificationPhysicalAddress:
      required:
        - address
        - municipality
        - zip
      type: object
      properties:
        at:
          type: string
          description: Campo "presso" dell'indirizzo
        address:
          type: string
          description: Indirizzo del domicilio fisico
        addressDetails:
          type: string
          description: Seconda riga dell'indirizzo fisico
        zip:
          type: string
          description: Codice di avviamento postale
        municipality:
          type: string
          description: Comune
        municipalityDetails:
          type: string
          description: Frazione o località
        province:
          type: string
          description: Provincia
        foreignState:
          type: string
          description: Denominazione paese estero
      description: Indirizzo fisico scoperto durante fase di consegna
    NotificationPaymentInfo:
      title: Informazioni per effettuare il pagamento
      required:
        - creditorTaxId
        - noticeCode
      type: object
      properties:
        noticeCode:
          $ref: '#/components/schemas/noticeCode'
        creditorTaxId:
          $ref: '#/components/schemas/paTaxId'
        noticeCodeAlternative:
          $ref: '#/components/schemas/noticeCode'
        pagoPaForm:
          $ref: '#/components/schemas/NotificationPaymentAttachment'
        f24flatRate:
          $ref: '#/components/schemas/NotificationPaymentAttachment'
        f24standard:
          $ref: '#/components/schemas/NotificationPaymentAttachment'
      description: >-
        Informazioni utili per effettuare il pagamento di una notifica, sono
        associate al  destinatario perché le spese di notifica possono differire
        a seconda del canale di  notifica utilizzato. <br/>
          - _notificationFeePolicy_: indica se il pagamento delle spese di notifica è forfettario o 
             calcolato puntualmente. <br/>
          - _noticeCode_: "codice avviso pagoPA" di pagamento del sistema pagoPA, usato per pagamento online.<br/>
          - _creditorTaxId_: codice fiscale dell'ente a cui fa riferimento il "codice avviso pagoPA". <br/>
          - _pagoPaForm_: riferimento al PDF contenete il bollettino pagoPA<br/>
          - _f24flatRate_: riferimento al PDF contenete l'F24 con spese di notifica forfettarie<br/>
          - _f24standard_: riferimento al PDF contenete l'F24 con spese di notifica standard<br/>
    NotificationPaymentAttachment:
      description: Un modulo di pagamento allegato alla notifica
      allOf:
        - $ref: '#/components/schemas/NotificationAttachment'
    NotificationAttachment:
      required:
        - contentType
        - digests
        - ref
      type: object
      properties:
        digests:
          $ref: '#/components/schemas/NotificationAttachmentDigests'
        contentType:
          type: string
          description: tipo di contenuto dell'allegato, supportato application/pdf
        ref:
          $ref: '#/components/schemas/NotificationAttachmentBodyRef'
      description: Un allegato della notifica.
    NotificationAttachmentDigests:
      required:
        - sha256
      type: object
      properties:
        sha256:
          type: string
          description: Digest "sha256" della codifica binaria dell'allegato
      description: Codici per la verifica del corretto caricamento di un allegato
    NotificationAttachmentBodyRef:
      required:
        - key
        - versionToken
      type: object
      properties:
        key:
          type: string
          description: Chiave in cui è stato salvato l'allegato
        versionToken:
          type: string
          description: Token per recuperare l'esatta istanza dell'allegato
      description: Riferimento all'allegato precaricato
    NotificationDocument:
      description: Un documento da notifcare
      allOf:
        - $ref: '#/components/schemas/NotificationAttachment'
        - type: object
          properties:
            title:
              type: string
              description: Titolo del documento allegato
            requiresAck:
              type: boolean
              description: >-
                Se presente e valorizzato __true__ il download del documento 
                diventa necessario al fine del perfezionamento per presa
                visione.
            sendByMail:
              type: boolean
              description: >-
                Se presente e valorizzato __true__ il documento verrà spedito 
                nelle comunicazioni cartacee. In MVP questo flag sarà
                attivabile  solo su un documento.
            docIdx:
              type: string
              description: Indice del documento partendo da 0.
    TimelineElement:
      type: object
      properties:
        elementId:
          type: string
          description: >-
            Identificativo dell'elemento di timeline: insieme allo IUN della
            notifica definisce in  maniera univoca l'elemento di timeline
        timestamp:
          type: string
          description: >-
            Momento in cui avviene l'evento descritto in questo elemento di
            timeline
          format: date-time
        legalFactsIds:
          type: array
          description: >-
            Chiavi dei documenti che provano l'effettivo accadimento dell'evento
            descritto in timeline. Questo elemento
          items:
            $ref: '#/components/schemas/LegalFactsId'
        category:
          $ref: '#/components/schemas/TimelineElementCategory'
        details:
          $ref: '#/components/schemas/TimelineElementDetails'
      additionalProperties: false
    LegalFactsId:
      required:
        - category
        - key
      type: object
      properties:
        key:
          type: string
          description: >-
            Chiave dell'atto opponibile a terzi generato durante il processo di
            consegna
        category:
          $ref: '#/components/schemas/LegalFactCategory'
      description: Chiavi dei documenti generati durante il processo di consegna cartacea
    TimelineElementCategory:
      type: string
      description: |
        stato di avanzamento del processo di notifica:`
          * `REQUEST_ACCEPTED` - 
          * `SEND_COURTESY_MESSAGE` - 
          * `GET_ADDRESS` - 
          * `PUBLIC_REGISTRY_CALL` - 
          * `PUBLIC_REGISTRY_RESPONSE` - 
          * `SCHEDULE_ANALOG_WORKFLOW` - 
          * `SCHEDULE_DIGITAL_WORKFLOW` - 
          * `SEND_DIGITAL_DOMICILE` - 
          * `SEND_DIGITAL_DOMICILE_FEEDBACK` - 
          * `SEND_DIGITAL_FEEDBACK` - 
          * `REFINEMENT` - 
          * `SCHEDULE_REFINEMENT` - 
          * `DIGITAL_SUCCESS_WORKFLOW` - 
          * `DIGITAL_FAILURE_WORKFLOW` - 
          * `ANALOG_SUCCESS_WORKFLOW` - 
          * `ANALOG_FAILURE_WORKFLOW` - 
          * `SEND_SIMPLE_REGISTERED_LETTER` - 
          * `NOTIFICATION_VIEWED` - 
          * `SEND_ANALOG_DOMICILE` - 
          * `SEND_PAPER_FEEDBACK` - 
          * `PAYMENT` - 
          * `COMPLETELY_UNREACHABLE` - 
          * `REQUEST_REFUSED` - 
          * `AAR_GENERATION` - 
          * `NOT_HANDLED` -      
    TimelineElementDetails:
      description: The raw event payload that will be different based on the event.
      oneOf:
        - $ref: '#/components/schemas/NotificationRequestAcceptedDetails'
        - $ref: '#/components/schemas/AnalogFailureWorkflowDetails'
        - $ref: '#/components/schemas/AnalogSuccessWorkflowDetails'
        - $ref: '#/components/schemas/CompletelyUnreachableDetails'
        - $ref: '#/components/schemas/DigitalFailureWorkflowDetails'
        - $ref: '#/components/schemas/DigitalSuccessWorkflowDetails'
        - $ref: '#/components/schemas/GetAddressInfoDetails'
        - $ref: '#/components/schemas/NotificationViewedDetails'
        - $ref: '#/components/schemas/PublicRegistryCallDetails'
        - $ref: '#/components/schemas/PublicRegistryResponseDetails'
        - $ref: '#/components/schemas/RefinementDetails'
        - $ref: '#/components/schemas/RequestRefusedDetails'
        - $ref: '#/components/schemas/ScheduleAnalogWorkflowDetails'
        - $ref: '#/components/schemas/ScheduleDigitalWorkflowDetails'
        - $ref: '#/components/schemas/ScheduleRefinementDetails'
        - $ref: '#/components/schemas/SendCourtesyMessageDetails'
        - $ref: '#/components/schemas/SendDigitalDetails'
        - $ref: '#/components/schemas/SendDigitalFeedbackDetails'
        - $ref: '#/components/schemas/SendDigitalProgressDetails'
        - $ref: '#/components/schemas/SendAnalogDetails'
        - $ref: '#/components/schemas/SendAnalogFeedbackDetails'
        - $ref: '#/components/schemas/SimpleRegisteredLetterDetails'
        - $ref: '#/components/schemas/AarGenerationDetails'
        - $ref: '#/components/schemas/NotHandledDetails'
        - $ref: '#/components/schemas/NotificationPaidDetails'
    NotificationRequestAcceptedDetails:
      type: object
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
    AnalogFailureWorkflowDetails:
      required:
        - recIndex
      type: object
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
    AnalogSuccessWorkflowDetails:
      required:
        - physicalAddress
        - recIndex
      type: object
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
        physicalAddress:
          $ref: '#/components/schemas/PhysicalAddress'
    PhysicalAddress:
      required:
        - address
        - municipality
        - zip
      type: object
      properties:
        at:
          type: string
          description: Campo "presso" dell'indirizzo
        address:
          type: string
          description: Indirizzo del domicilio fisico
        addressDetails:
          type: string
          description: Seconda riga dell'indirizzo fisico
        zip:
          type: string
          description: Codice di avviamento postale
        municipality:
          type: string
          description: Comune in cui l'indirizzo si trova
        municipalityDetails:
          type: string
          description: Frazione o località
        province:
          type: string
          description: Provincia in cui si trova l'indirizzo
        foreignState:
          type: string
          description: Denominazione paese estero
      description: Indirizzo fisico scoperto durante fase di consegna
    CompletelyUnreachableDetails:
      required:
        - recIndex
      type: object
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
    DigitalFailureWorkflowDetails:
      required:
        - recIndex
      type: object
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
    DigitalSuccessWorkflowDetails:
      required:
        - digitalAddress
        - recIndex
      type: object
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
        digitalAddress:
          $ref: '#/components/schemas/DigitalAddress'
    DigitalAddress:
      required:
        - address
        - type
      type: object
      properties:
        type:
          type: string
          description: tipo di indirizzo PEC, REM, SERCQ, ...
        address:
          type: string
          description: account@domain
      description: Indirizzo di invio della notifica
    GetAddressInfoDetails:
      required:
        - attemptDate
        - digitalAddressSource
        - isAvailable
        - recIndex
      type: object
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
        digitalAddressSource:
          $ref: '#/components/schemas/DigitalAddressSource'
        isAvailable:
          type: boolean
          description: Disponibilità indirizzo
        attemptDate:
          type: string
          description: Data tentativo
          format: date-time
    DigitalAddressSource:
      type: string
      description: sorgente indirizzo di invio della notifica
      enum:
        - PLATFORM
        - SPECIAL
        - GENERAL
    NotificationViewedDetails:
      required:
        - recIndex
      type: object
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
        notificationCost:
          type: integer
          description: >-
            costo notifica in euro cents, può essere nullo se la notifica si è
            perfezionata prima per decorrenza termini
          example: 1220
    PublicRegistryCallDetails:
      required:
        - contactPhase
        - deliveryMode
        - recIndex
        - sendDate
        - sentAttemptMade
      type: object
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
        deliveryMode:
          $ref: '#/components/schemas/DeliveryMode'
        contactPhase:
          $ref: '#/components/schemas/ContactPhase'
        sentAttemptMade:
          type: integer
          description: Numero di tentativi di notificazione già effettuati
        sendDate:
          type: string
          description: Data invio richiesta ai public registry
          format: date-time
    DeliveryMode:
      type: string
      description: Tipologia Domiciliazione
      enum:
        - DIGITAL
        - ANALOG
    ContactPhase:
      type: string
      description: Fase in cui è avvenuta la richiesta
      enum:
        - CHOOSE_DELIVERY
        - SEND_ATTEMPT
    PublicRegistryResponseDetails:
      required:
        - recIndex
      type: object
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
        digitalAddress:
          $ref: '#/components/schemas/DigitalAddress'
        physicalAddress:
          $ref: '#/components/schemas/PhysicalAddress'
    RefinementDetails:
      required:
        - recIndex
      type: object
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
        notificationCost:
          type: integer
          description: >-
            costo notifica in euro cents, può essere nullo se la notifica si è
            perfezionata prima per visualizzazione
          example: 1220
    RequestRefusedDetails:
      required:
        - errors
      type: object
      properties:
        errors:
          type: array
          description: Motivazioni che hanno portato al rifiuto della notifica
          items:
            type: string
            description: Motivazioni che hanno portato al rifiuto della notifica
    ScheduleAnalogWorkflowDetails:
      required:
        - recIndex
      type: object
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
    ScheduleDigitalWorkflowDetails:
      required:
        - digitalAddress
        - digitalAddressSource
        - lastAttemptDate
        - recIndex
        - sentAttemptMade
      type: object
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
        digitalAddress:
          $ref: '#/components/schemas/DigitalAddress'
        digitalAddressSource:
          $ref: '#/components/schemas/DigitalAddressSource'
        sentAttemptMade:
          type: integer
        lastAttemptDate:
          type: string
          format: date-time
    ScheduleRefinementDetails:
      required:
        - recIndex
      type: object
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
    SendCourtesyMessageDetails:
      required:
        - digitalAddress
        - recIndex
        - sendDate
      type: object
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
        digitalAddress:
          $ref: '#/components/schemas/DigitalAddress'
        sendDate:
          type: string
          description: data invio messaggio di cortesia
          format: date-time
    SendDigitalDetails:
      required:
        - digitalAddress
        - digitalAddressSource
        - recIndex
        - retryNumber
      type: object
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
        digitalAddress:
          $ref: '#/components/schemas/DigitalAddress'
        digitalAddressSource:
          $ref: '#/components/schemas/DigitalAddressSource'
        retryNumber:
          type: integer
          description: numero dei tentativi effettuati
          format: int32
    SendDigitalFeedbackDetails:
      required:
        - digitalAddress
        - notificationDate
        - recIndex
        - responseStatus
      type: object
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
        digitalAddress:
          $ref: '#/components/schemas/DigitalAddress'
        responseStatus:
          $ref: '#/components/schemas/ResponseStatus'
        notificationDate:
          type: string
          description: data notifica
          format: date-time
        errors:
          type: array
          description: Lista errori, vuota in caso di successo
          items:
            type: string
            description: Lista errori, vuota in caso di successo
        sendingReceipts:
          type: array
          items:
            $ref: '#/components/schemas/SendingReceipt'
    ResponseStatus:
      type: string
      description: stato risposta ricevuta da externalChannel
      enum:
        - OK
        - KO
    SendingReceipt:
      type: object
      properties:
        id:
          type: string
        system:
          type: string
    SendDigitalProgressDetails:
      type: object
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
        eventCode:
          type: string
          description: esito tornate da ext-channel
        shouldRetry:
          type: boolean
          description: indica se il progress ha dato luogo ad un ritentativo
        digitalAddress:
          $ref: '#/components/schemas/DigitalAddress'
        digitalAddressSource:
          $ref: '#/components/schemas/DigitalAddressSource'
        notificationDate:
          type: string
          description: data notifica
          format: date-time
        sendingReceipts:
          type: array
          items:
            $ref: '#/components/schemas/SendingReceipt'
        retryNumber:
          type: integer
          description: numero dei tentativi effettuati
          format: int32
    SendAnalogDetails:
      required:
        - investigation
        - numberOfPages
        - physicalAddress
        - recIndex
        - sentAttemptMade
        - serviceLevel
      type: object
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
        physicalAddress:
          $ref: '#/components/schemas/PhysicalAddress'
        serviceLevel:
          $ref: '#/components/schemas/ServiceLevel'
        sentAttemptMade:
          type: integer
          description: numero dei tentativi effettuati
        investigation:
          type: boolean
          description: E' richiesta investigazione indirizzo fisico alternativo
        numberOfPages:
          type: integer
          description: numero pagine pdf inviato
    ServiceLevel:
      type: string
      description: Livello Servizio
      enum:
        - SIMPLE_REGISTERED_LETTER
        - REGISTERED_LETTER_890
    SendAnalogFeedbackDetails:
      required:
        - investigation
        - physicalAddress
        - recIndex
        - sentAttemptMade
        - serviceLevel
      type: object
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
        physicalAddress:
          $ref: '#/components/schemas/PhysicalAddress'
        serviceLevel:
          $ref: '#/components/schemas/ServiceLevel'
        sentAttemptMade:
          type: integer
          description: numero dei tentativi effettuati
        investigation:
          type: boolean
          description: E' richiesta investigazione indirizzo fisico alternativo
        newAddress:
          $ref: '#/components/schemas/PhysicalAddress'
        errors:
          type: array
          description: Lista errori, vuota in caso di successo
          items:
            type: string
            description: Lista errori, vuota in caso di successo
    SimpleRegisteredLetterDetails:
      required:
        - numberOfPages
        - physicalAddress
        - recIndex
      type: object
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
        physicalAddress:
          $ref: '#/components/schemas/PhysicalAddress'
        numberOfPages:
          type: integer
          description: numero pagine pdf inviato
    AarGenerationDetails:
      required:
        - generatedAarUrl
        - numberOfPages
        - recIndex
      type: object
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
        generatedAarUrl:
          type: string
          description: Chiave per recupero da safe-storage del documento aar
        numberOfPages:
          type: integer
          description: numero di pagine del PDF generato
    NotHandledDetails:
      required:
        - reason
        - reasonCode
        - recIndex
      type: object
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
        reasonCode:
          type: string
          description: Codice motivazione casistica non gestita
        reason:
          type: string
          description: Motivazione casistica non gestita
    NotificationPaidDetails:
      required:
        - recIndex
      type: object
      properties:
        recIndex:
          type: integer
          description: Index destinatario che ha effettuato il pagamento della notifica
    NotificationStatusHistoryElement:
      required:
        - activeFrom
        - relatedTimelineElements
        - status
      type: object
      properties:
        status:
          $ref: '#/components/schemas/NotificationStatus'
        activeFrom:
          type: string
          description: data e ora di raggiungimento dello stato di avanzamento
          format: date-time
        relatedTimelineElements:
          type: array
          description: Eventi avvenuti nello stato
          items:
            $ref: '#/components/schemas/TimelineElementId'
      description: elenco degli avanzamenti effettuati dal processo di notifica
    TimelineElementId:
      type: string
    noticeCode:
      maxLength: 18
      minLength: 18
      pattern: ^\d+$
      type: string
      description: Payment notice number  numero avviso
      example: '302000100000019421'
    paTaxId:
      maxLength: 11
      minLength: 11
      pattern: ^\d+$
      type: string
      description: Payment PA fiscal code
      example: '77777777777'
  parameters:
    cxTypeAuthFleet:
      name: x-pagopa-pn-cx-type
      in: header
      description: Customer/Receiver Type
      required: true
      schema:
        type: string
        enum:
          - PA
          - PF
          - PG
    cxIdAuthFleet:
      name: x-pagopa-pn-cx-id
      in: header
      description: Customer/Receiver Identifier
      required: true
      schema:
        type: string
    cxTaxIdAuthFleet:
      name: x-pagopa-cx-taxid
      in: header
      description: Customer taxId, used in B2B AppIO.
      required: true
      schema:
        maxLength: 16
        minLength: 16
        pattern: >-
          ^[A-Z]{6}[0-9LMNPQRSTUV]{2}[A-Z]{1}[0-9LMNPQRSTUV]{2}[A-Z]{1}[0-9LMNPQRSTUV]{3}[A-Z]{1}
        type: string
    pathLegalFactType:
      name: legalFactType
      in: path
      description: Categoria dell'atto opponbile a terzi
      required: true
      style: simple
      explode: false
      schema:
        $ref: '#/components/schemas/LegalFactCategory'
    pathLegalFactId:
      name: legalFactId
      in: path
      description: Identificativo dell'atto opponbile a terzi
      required: true
      style: simple
      explode: false
      schema:
        type: string
    pathIun:
      name: iun
      in: path
      description: Identificativo Univoco Notifica
      required: true
      schema:
        type: string
    pathDocumentIdx:
      name: docIdx
      in: path
      description: indice del documento nella lista partendo da 0.
      required: true
      schema:
        type: number
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: x-api-key
      in: header
