openapi: 3.0.2
info:
  version: 17.1.0
  title: IO FIMS - Backend API
servers:
  - url: https://api-app.io.pagopa.it/api/v1/fims
security:
  - Bearer: []
paths:
  /accesses:
    get:
      summary: Get access history
      description: Get the access history for the specified user
      operationId: getAccessHistory
      parameters:
        - in: query
          name: page
          schema:
            type: string
          description: The page identifier
        - in: header
          name: Accept-Language
          required: false
          schema:
            type: string
      responses:
        '200':
          description: An access history page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessHistoryPage'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemJson'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemJson'
  /export-requests:
    post:
      summary: Request export
      description: Request the export of the access history for the specified user
      operationId: requestExport
      responses:
        '202':
          description: The export request has been accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportRequest'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemJson'
        '409':
          description: The export request has already been requested
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemJson'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemJson'
components:
  securitySchemes:
    Bearer:
      type: apiKey
      name: Authorization
      in: header
  schemas:
    Timestamp:
      type: string
      format: UTCISODateFromString
      description: A date-time field in ISO-8601 format and UTC timezone.
      x-import: '@pagopa/ts-commons/lib/dates'
      example: '2018-10-13T00:00:00.000Z'
    ProblemJson:
      type: object
      properties:
        type:
          type: string
          format: uri
          description: |-
            An absolute URI that identifies the problem type. When dereferenced,
            it SHOULD provide human-readable documentation for the problem type
            (e.g., using HTML).
          default: about:blank
          example: https://example.com/problem/constraint-violation
        title:
          type: string
          description: >-
            A short, summary of the problem type. Written in english and
            readable

            for engineers (usually not suited for non technical stakeholders and

            not localized); example: Service Unavailable
        status:
          type: integer
          format: int32
          description: >-
            The HTTP status code generated by the origin server for this
            occurrence

            of the problem.
          minimum: 100
          maximum: 600
          exclusiveMaximum: true
          example: 200
        detail:
          type: string
          description: |-
            A human readable explanation specific to this occurrence of the
            problem.
          example: There was an error processing the request
        instance:
          type: string
          format: uri
          description: >-
            An absolute URI that identifies the specific occurrence of the
            problem.

            It may or may not yield further information if dereferenced.
    Redirect:
      type: object
      properties:
        display_name:
          type: string
        uri:
          type: string
          format: uri
      required:
        - display_name
        - uri
    Access:
      type: object
      properties:
        id:
          type: string
          format: ulid
        redirect:
          $ref: '#/components/schemas/Redirect'
        service_id:
          type: string
          format: ulid
        timestamp:
          $ref: '#/components/schemas/Timestamp'
      required:
        - id
        - redirect
        - service_id
        - timestamp
    AccessHistoryPage:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Access'
        next:
          type: string
      required:
        - data
    ExportRequest:
      type: object
      properties:
        id:
          type: string
          format: ulid
      required:
        - id
