microservice-chart:
  image:
    repository: 'iopcommonacr.azurecr.io/io-backend'
    tag: '12.0.1'
    pullPolicy: Always
  namespace: 'messages'
  livenessProbe:
    httpGet:
      path: '/ping'
      port: 80
    initialDelaySeconds: 30
    failureThreshold: 6
    periodSeconds: 10
  readinessProbe:
    httpGet:
      path: '/ping'
      port: 80
    initialDelaySeconds: 30
    failureThreshold: 6
    periodSeconds: 10
  service:
    create: true
    ports:
      - 80
  ingress:
    create: true
    host: 'weuprod01.messages.internal.io.pagopa.it'
    path: '/io-backend/(.*)'
    servicePort: 80
  resources:
    requests:
      memory: '512Mi'
      cpu: '200m'
    limits:
      memory: '512Mi'
      cpu: '200m'
  autoscaling:
    enable: true
    minReplica: 2
    maxReplica: 10
    pollingInterval: 30 # seconds
    cooldownPeriod: 300 # seconds
    triggers:
      - type: cpu
        metadata:
          type: Utilization
          value: '70'
  envConfig:
    ALLOW_NOTIFY_IP_SOURCE_RANGE: '127.0.0.0/0'
    ALLOW_SESSION_HANDLER_IP_SOURCE_RANGE: '10.0.101.0/24'
    API_BASE_PATH: '/api/v1'
    API_URL: 'https://io-p-app-fn-1.azurewebsites.net/api/v1'
    APP_MESSAGES_API_URL: 'https://io-p-app-messages-fn-1.azurewebsites.net/api/v1'
    CGN_API_BASE_PATH: '/api/v1/cgn'
    CGN_API_URL: 'https://io-p-cgn-fn.azurewebsites.net'
    CGN_OPERATOR_SEARCH_API_BASE_PATH: '/api/v1/cgn/operator-search'
    CGN_OPERATOR_SEARCH_API_URL: 'https://cgnonboardingportal-p-op.azurewebsites.net'
    DIAGNOSTICS_AZUREBLOBRETENTIONINDAYS: '90'
    EUCOVIDCERT_API_BASE_PATH: '/api/v1/eucovidcert'
    EUCOVIDCERT_API_URL: 'https://io-p-eucovidcert-fn.azurewebsites.net/api/v1'
    FETCH_KEEPALIVE_ENABLED: 'true'
    FETCH_KEEPALIVE_FREE_SOCKET_TIMEOUT: '30000'
    FETCH_KEEPALIVE_MAX_FREE_SOCKETS: '10'
    FETCH_KEEPALIVE_MAX_SOCKETS: '128'
    FETCH_KEEPALIVE_SOCKET_ACTIVE_TTL: '110000'
    FETCH_KEEPALIVE_TIMEOUT: '60000'
    FF_CGN_ENABLED: '1'
    FF_EUCOVIDCERT_ENABLED: '1'
    FF_IO_SIGN_ENABLED: '1'
    FF_PN_ACTIVATION_ENABLED: '1'
    FF_ROUTING_PUSH_NOTIF: 'ALL'
    FF_ROUTING_PUSH_NOTIF_CANARY_SHA_USERS_REGEX: '^([(0-9)|(a-f)|(A-F)]{63}[(0-4)]{1})$'
    FF_IO_X_USER_TOKEN: 'ALL'
    FF_IO_X_USER_TOKEN_CANARY_SHA_USERS_REGEX: '^([(0-9)|(a-f)|(A-F)]{63}[(0-4)]{1})$'
    IO_SIGN_API_BASE_PATH: '/api/v1/sign'
    IO_SIGN_API_URL: 'https://io-p-sign-user-func.azurewebsites.net'
    IO_SIGN_SERVICE_ID: '01GQQZ9HF5GAPRVKJM1VDAVFHM'
    IS_APPBACKENDLI: 'true'
    JWT_SUPPORT_TOKEN_EXPIRATION: '1209600'
    JWT_SUPPORT_TOKEN_ISSUER: 'app-backend.io.italia.it'
    NODE_ENV: 'production'
    NOTIFICATIONS_QUEUE_NAME: 'push-notifications'
    PAGOPA_API_URL_PROD: 'https://api.platform.pagopa.it/checkout/auth/payments/v1'
    PAGOPA_API_URL_TEST: 'https://api.uat.platform.pagopa.it/checkout/auth/payments/v1'
    PECSERVER_TOKEN_ISSUER: 'app-backend.io.italia.it'
    PECSERVER_URL: 'https://poc.pagopa.poste.it'
    PECSERVERS_aruba_basePath: '/apigateway/api/v2/pagopa/mailbox'
    PECSERVERS_aruba_serviceId: '01FRMRD5P7H378MDXBBW3DTYCF'
    PECSERVERS_aruba_url: 'https://pagopa-test.pec.aruba.it'
    PECSERVERS_poste_basePath: 'https://poc.pagopa.poste.it'
    PECSERVERS_poste_serviceId: '01FQ4945RG5WJGPHKY8ZYRJMQ7'
    PECSERVERS_poste_url: 'https://poc.pagopa.poste.it'
    PN_ACTIVATION_BASE_PATH: '/api/v1/pn'
    PN_API_URL: 'https://api-io.pn.pagopa.it'
    PN_API_URL_UAT: 'https://api-io.uat.notifichedigitali.it'
    PN_SERVICE_ID: '01G40DWQGKY5GRWSNM4303VNRP'
    PUSH_NOTIFICATIONS_QUEUE_NAME: 'push-notifications'
    REDIS_PORT: '6380'
    REDIS_URL: 'io-p-redis-common.redis.cache.windows.net'
    SAML_LOGOUT_CALLBACK_URL: 'https://app-backend.io.italia.it/slo'
    WEBSITE_SITE_NAME: 'io-p-weuprod01-appbackend'
    LOLLIPOP_API_URL: 'https://io-p-weu-lollipop-fn.azurewebsites.net'
    LOLLIPOP_API_BASE_PATH: '/api/v1'
    LOLLIPOP_ALLOWED_USER_AGENTS: 'IO-App/2.23.0'
    LOLLIPOP_REVOKE_QUEUE_NAME: 'pubkeys-revoke'
    SERVICES_APP_BACKEND_BASE_PATH: '/api/v2'
    SERVICES_APP_BACKEND_API_URL: 'https://io-p-itn-svc-app-be-func-01.azurewebsites.net'
    SERVICES_APP_BACKEND_API_BASE_PATH: '/api/v1'
  envSecret:
    APPINSIGHTS_INSTRUMENTATIONKEY: 'appinsights-instrumentation-key'
    APPINSIGHTS_CONNECTION_STRING: 'appinsights-connection-string'
    API_KEY: 'funcapp-KEY-APPBACKEND'
    CGN_API_KEY: 'funccgn-KEY-APPBACKEND'
    IO_SIGN_API_KEY: 'funciosign-KEY-APPBACKEND'
    CGN_OPERATOR_SEARCH_API_KEY: 'funccgnoperatorsearch-KEY-PROD-APPBACKEND'
    EUCOVIDCERT_API_KEY: 'funceucovidcert-KEY-APPBACKEND'
    APP_MESSAGES_API_KEY: 'appbackend-APP-MESSAGES-API-KEY'
    PRE_SHARED_KEY: 'appbackend-PRE-SHARED-KEY'
    PAGOPA_API_KEY_PROD: 'appbackend-PAGOPA-API-KEY-PROD-PRIMARY'
    PAGOPA_API_KEY_UAT: 'appbackend-PAGOPA-API-KEY-UAT-PRIMARY'
    JWT_SUPPORT_TOKEN_PRIVATE_RSA_KEY: 'appbackend-JWT-SUPPORT-TOKEN-PRIVATE-RSA-KEY'
    FF_ROUTING_PUSH_NOTIF_BETA_TESTER_SHA_LIST: 'appbackend-APP-MESSAGES-BETA-FISCAL-CODES'
    FF_IO_X_USER_TOKEN_BETA_TESTER_SHA_LIST: 'appbackend-X-USER-TOKEN-BETA-FISCAL-CODES'
    PECSERVER_TOKEN_SECRET: 'appbackend-PECSERVER-TOKEN-SECRET'
    PECSERVERS_poste_secret: 'appbackend-PECSERVER-TOKEN-SECRET'
    PECSERVERS_aruba_secret: 'appbackend-PECSERVER-ARUBA-TOKEN-SECRET'
    PN_API_KEY: 'appbackend-PN-API-KEY-ENV'
    PN_API_KEY_UAT: 'appbackend-PN-API-KEY-UAT-ENV-V2'
    REDIS_PASSWORD: 'appbackend-REDIS-PASSWORD'
    PUSH_NOTIFICATIONS_STORAGE_CONNECTION_STRING: 'appbackend-PUSH-NOTIFICATIONS-STORAGE'
    NOTIFICATIONS_STORAGE_CONNECTION_STRING: 'appbackend-NORIFICATIONS-STORAGE'
    LOLLIPOP_API_KEY: 'appbackend-LOLLIPOP-API-KEY'
    LOLLIPOP_REVOKE_STORAGE_CONNECTION_STRING: 'appbackend-LOLLIPOP-ASSERTIONS-STORAGE'
    THIRD_PARTY_CONFIG_LIST: 'appbackend-THIRD-PARTY-CONFIG-LIST'
  keyvault:
    name: 'io-p-kv-common'
    tenantId: '7788edaf-0346-4068-9d79-c868aed15b3d'
