swagger: '2.0'
info:
  contact:
    email: pn@pagopa.it
  description: |-
    ## Abstract
      API utilizzate dal backend di AppIO per recuperare:
      - i dettagli della notifica
      - gli url dei documenti allegati alla notifica
      - gli url degli atti opponibili a terzi
  license:
    name: Licenza di PN
    url: 'https://da-definire/'
  title: 'Piattaforma Notifiche: API B2B per backend AppIO'
  version: v1.0
host: api-io.pn.pagopa.it
basePath: /
schemes:
  - https
paths:
  '/delivery-push/{iun}/legal-facts/{legalFactType}/{legalFactId}':
    get:
      produces:
        - application/json
      parameters:
        - description: Identificativo Univoco Notifica
          in: path
          name: iun
          required: true
          type: string
        - $ref: 'https://raw.githubusercontent.com/pagopa/pn-delivery-push/a7c30c984170758a801bdd9dab838c63d6d15ecd/docs/openapi/api-internal-pn-delivery-push-v1.yaml#/components/parameters/pathLegalFactType'
        - $ref: 'https://raw.githubusercontent.com/pagopa/pn-delivery-push/a7c30c984170758a801bdd9dab838c63d6d15ecd/docs/openapi/api-internal-pn-delivery-push-v1.yaml#/components/parameters/pathLegalFactId'
        - $ref: 'https://raw.githubusercontent.com/pagopa/pn-auth-fleet/49b7f5dbda112680d3c5aa79123388736b1c215f/docs/openapi/authenticationParameters-v1.yaml#/components/parameters/cxTaxIdAuthFleet'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/LegalFactDownloadMetadataResponse'
        '400':
          description: Bad request
          schema:
            additionalProperties: false
            properties:
              detail:
                description: A human readable explanation of the problem.
                example: Request took too long to complete.
                maxLength: 4096
                pattern: '^.{0,1024}$'
                type: string
              errors:
                items:
                  $ref: '#/definitions/ProblemError'
                minItems: 0
                type: array
              status:
                description: >-
                  The HTTP status code generated by the origin server for this
                  occurrence of the problem.
                example: 400
                exclusiveMaximum: true
                format: int32
                maximum: 600
                minimum: 100
                type: integer
              title:
                description: >-
                  A short, summary of the problem type. Written in english and
                  readable
                example: Service Unavailable
                maxLength: 64
                pattern: '^[ -~]{0,64}$'
                type: string
              type:
                description: URI reference of type definition
                type: string
            required:
              - type
              - status
              - title
              - errors
      tags:
        - AppIO-PN-LegalFacts
      description: Permette di scaricare un atto opponibile a terzi
      operationId: getLegalFact
      summary: Download atto opponibile a terzi
  '/delivery/notifications/received/{iun}':
    get:
      produces:
        - application/octet-stream
        - application/json
      parameters:
        - description: Identificativo Univoco Notifica
          in: path
          name: iun
          required: true
          type: string
        - $ref: 'https://raw.githubusercontent.com/pagopa/pn-auth-fleet/49b7f5dbda112680d3c5aa79123388736b1c215f/docs/openapi/authenticationParameters-v1.yaml#/components/parameters/cxTaxIdAuthFleet'
      responses:
        '200':
          description: OK
          schema:
            allOf:
              - $ref: >-
                  ./schemas-pn-notification-v1.yaml#/definitions/SentNotification
              - properties:
                  notificationStatus:
                    $ref: '#/definitions/NotificationStatus'
                  notificationStatusHistory:
                    $ref: '#/definitions/NotificationStatusHistory'
                  timeline:
                    description: >-
                      elenco dettagliato di tutto ciò che è accaduto durrante il
                      processo di notifica
                    items:
                      $ref: '#/definitions/TimelineElement'
                    type: array
                required:
                  - notificationStatus
                  - notificationStatusHistory
                  - timeline
                type: object
            description: >-
              Le informazioni riguardanti una richiesta di notifica accettata e
              il processo di  inoltro della notifica verso i destinatari
              (Persone Fisiche o Giuridiche).
        '400':
          description: Bad request
          schema:
            additionalProperties: false
            properties:
              detail:
                description: A human readable explanation of the problem.
                example: Request took too long to complete.
                maxLength: 4096
                pattern: '^.{0,1024}$'
                type: string
              errors:
                items:
                  $ref: '#/definitions/ProblemError'
                minItems: 0
                type: array
              status:
                description: >-
                  The HTTP status code generated by the origin server for this
                  occurrence of the problem.
                example: 400
                exclusiveMaximum: true
                format: int32
                maximum: 600
                minimum: 100
                type: integer
              title:
                description: >-
                  A short, summary of the problem type. Written in english and
                  readable
                example: Service Unavailable
                maxLength: 64
                pattern: '^[ -~]{0,64}$'
                type: string
              type:
                description: URI reference of type definition
                type: string
            required:
              - type
              - status
              - title
              - errors
      tags:
        - AppIO-PN-Notification
      description: >-
        Utilizzato da Persone Fisiche e Persone Giuridiche per accedere ai
        dettagli delle  notifiche ricevute.
      operationId: getReceivedNotification
      summary: Accesso notifiche ricevute
  '/delivery/notifications/sent/{iun}/attachments/documents/{docIdx}':
    get:
      produces:
        - application/json
      parameters:
        - description: Identificativo Univoco Notifica
          in: path
          name: iun
          required: true
          type: string
        - in: path
          name: docIdx
          required: true
          type: number
        - $ref: 'https://raw.githubusercontent.com/pagopa/pn-auth-fleet/49b7f5dbda112680d3c5aa79123388736b1c215f/docs/openapi/authenticationParameters-v1.yaml#/components/parameters/cxTaxIdAuthFleet'
      responses:
        '200':
          description: OK
          schema:
            description: |-
              I due campi più importanti sono __url__ e __retryAfter__. <br/>
                - __url__ è presente se il file è pronto per essere scaricato ed indica l'url a cui fare GET.
                - __retryAfter__ indica che il file è stato archiviato e bisognerà aspettare un numero di
                  secondi non inferiore a quanto indicato dal campo _retryAfter_. <br/>
            properties:
              contentLength:
                description: 'dmensione, in byte, del contenuto.'
                example: 54092
                type: number
              contentType:
                example: application/pdf
                type: string
              filename:
                type: string
              retryAfter:
                description: >-
                  Stima del numero di secondi da aspettare prima che il
                  contenuto del  documento sia disponibile per il download.
                type: number
              sha256:
                description: SHA256 del contenuto del file.
                type: string
              url:
                description: >-
                  URL preautorizzato a cui effettuare una richiesta GET per
                  ottenere il  contenuto del documento. Presente solo se il
                  documento è pronto per il download.
                type: string
            required:
              - filename
              - contentType
              - contentLength
              - sha256
            title: Url e metadati per il download di un allegato di una notifica
            type: object
        '400':
          description: Bad request
          schema:
            additionalProperties: false
            properties:
              detail:
                description: A human readable explanation of the problem.
                example: Request took too long to complete.
                maxLength: 4096
                pattern: '^.{0,1024}$'
                type: string
              errors:
                items:
                  $ref: '#/definitions/ProblemError'
                minItems: 0
                type: array
              status:
                description: >-
                  The HTTP status code generated by the origin server for this
                  occurrence of the problem.
                example: 400
                exclusiveMaximum: true
                format: int32
                maximum: 600
                minimum: 100
                type: integer
              title:
                description: >-
                  A short, summary of the problem type. Written in english and
                  readable
                example: Service Unavailable
                maxLength: 64
                pattern: '^[ -~]{0,64}$'
                type: string
              type:
                description: URI reference of type definition
                type: string
            required:
              - type
              - status
              - title
              - errors
      tags:
        - AppIO-PN-Documents
      operationId: getSentNotificationDocument
      summary: Download documento notificato
definitions:
  LegalFactDownloadMetadataResponse:
    $ref: ./remote-refs.yaml#/definitions/LegalFactDownloadMetadataResponse
    SentNotification:
      description: >-
        Le informazioni riguardanti una richiesta di notifica accettata
      allOf: 
        - $ref: '#/components/schemas/NewNotificationRequest'
        - type: object
          required:
            - iun
            - sentAt
          properties:
            senderPaId:
              type: string
              description: Identificativo IPA della PA mittente che ha eseguito l'onborading su SelfCare.
            iun:
              type: string
              description: L'Identificativo Univoco Notifica assegnato da PN
            sentAt:
              type: string
              description: Momento di ricezione della notifica da parte di PN
              format: date-time
            cancelledByIun:
              type: string
              description: IUN della notifica che ha annullato questa notifica
            documentsAvailable:
              type: boolean
              description: Indica se i documenti notificati sono ancora disponibili.
securityDefinitions:
  ApiKeyAuth:
    in: header
    name: x-api-key
    type: apiKey
security:
  - ApiKeyAuth: []
tags:
  - description: Notification details
    name: AppIO-PN-Notification
  - description: Notification Documents
    name: AppIO-PN-Documents
  - description: Notification Legal Facts
    name: AppIO-PN-LegalFacts
x-components:
  parameters:
    cxIdAuthFleet:
      $ref: ./remote-refs.yaml#/x-components/parameters/cxIdAuthFleet
    cxTaxIdAuthFleet:
      $ref: 'https://raw.githubusercontent.com/pagopa/pn-auth-fleet/49b7f5dbda112680d3c5aa79123388736b1c215f/docs/openapi/authenticationParameters-v1.yaml#/components/parameters/cxTaxIdAuthFleet'
    cxTypeAuthFleet:
      $ref: ./remote-refs.yaml#/x-components/parameters/cxTypeAuthFleet
    pathIun:
      description: Identificativo Univoco Notifica
      in: path
      name: iun
      required: true
      type: string
    pathLegalFactId:
      $ref: 'https://raw.githubusercontent.com/pagopa/pn-delivery-push/a7c30c984170758a801bdd9dab838c63d6d15ecd/docs/openapi/api-internal-pn-delivery-push-v1.yaml#/components/parameters/pathLegalFactId'
    pathLegalFactType:
      $ref: 'https://raw.githubusercontent.com/pagopa/pn-delivery-push/a7c30c984170758a801bdd9dab838c63d6d15ecd/docs/openapi/api-internal-pn-delivery-push-v1.yaml#/components/parameters/pathLegalFactType'

