openapi: 3.0.3
info:
  title: "Piattaforma Notifiche: API B2B per backend AppIO"
  version: v1.0
  description: |-
    ## Abstract
      API utilizzate dal backend di AppIO per recuperare:
      - i dettagli della notifica
      - gli url dei documenti allegati alla notifica
      - gli url degli atti opponibili a terzi
  contact:
    email: pn@pagopa.it
  license:
    name: Licenza di PN
    url: https://da-definire/
servers:
  - url: https://api-io.pn.pagopa.it
    description: Ambiente di produzione
  - url: https://api-io.uat.pn.pagopa.it
    description: Ambiente di test
  - url: https://api-io.dev.pn.pagopa.it
    description: Ambiente di sviluppo
tags:
  - name: AppIO-PN-Notification
    description: Notification details
  - name: AppIO-PN-Documents
    description: Notification Documents
  - name: AppIO-PN-LegalFacts
    description: Notification Legal Facts
paths:
  "/delivery/notifications/received/{iun}":
    get:
      summary: Accesso notifiche ricevute
      description: Utilizzato da Persone Fisiche e Persone Giuridiche per accedere ai
        dettagli delle  notifiche ricevute.
      tags:
        - AppIO-PN-Notification
      operationId: getReceivedNotification
      parameters:
        - $ref: "#/components/parameters/pathIun"
        - $ref: "#/components/parameters/cxTaxIdAuthFleet"
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/FullReceivedNotification"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
  "/delivery/notifications/sent/{iun}/attachments/documents/{docIdx}":
    get:
      summary: Download documento notificato
      tags:
        - AppIO-PN-Documents
      operationId: getSentNotificationDocument
      parameters:
        - $ref: "#/components/parameters/pathIun"
        - name: docIdx
          in: path
          required: true
          schema:
            type: number
        - $ref: "#/components/parameters/cxTaxIdAuthFleet"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotificationAttachmentDownloadMetadataResponse"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
  "/delivery-push/{iun}/legal-facts/{legalFactType}/{legalFactId}":
    get:
      summary: Download atto opponibile a terzi
      description: Permette di scaricare un atto opponibile a terzi
      tags:
        - AppIO-PN-LegalFacts
      operationId: getLegalFact
      parameters:
        - $ref: "#/components/parameters/pathIun"
        - $ref: "#/components/parameters/pathLegalFactType"
        - $ref: "#/components/parameters/pathLegalFactId"
        - $ref: "#/components/parameters/cxTaxIdAuthFleet"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LegalFactDownloadMetadataResponse"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
components:
  parameters:
    pathIun:
      description: Identificativo Univoco Notifica
      name: iun
      in: path
      required: true
      schema:
        type: string
    cxTypeAuthFleet:
      name: x-pagopa-pn-cx-type
      in: header
      description: Customer/Receiver Type
      required: true
      schema:
        type: string
        enum:
          - PA
          - PF
          - PG
    cxIdAuthFleet:
      name: x-pagopa-pn-cx-id
      in: header
      description: Customer/Receiver Identifier
      required: true
      schema:
        type: string
    cxTaxIdAuthFleet:
      name: x-pagopa-cx-taxid
      in: header
      description: Customer taxId, used in B2B AppIO.
      required: true
      schema:
        type: string
        minLength: 16
        maxLength: 16
        pattern: ^[A-Z]{6}[0-9]{2}[A-Z][0-9]{2}[A-Z][0-9]{3}[A-Z]$
    pathLegalFactType:
      description: Categoria dell'atto opponbile a terzi
      name: legalFactType
      in: path
      required: true
      schema:
        title: Tipi di atti opponibili a terzi
        description: >-
          Tipi di atti opponibili a terzi che Piattaforam Notiiche mette a
          disposizione dei suoi utenti.
            - _SENDER_ACK_: atto di "presa in carico" di una notifica
            - _DIGITAL_DELIVERY_: ...
        type: string
        enum:
          - SENDER_ACK
          - DIGITAL_DELIVERY
          - ANALOG_DELIVERY
          - RECIPIENT_ACCESS
    pathLegalFactId:
      description: Identificativo dell'atto opponbile a terzi
      name: legalFactId
      in: path
      required: true
      schema:
        type: string
  schemas:
    ServiceLevel:
      type: string
      description: Livello Servizio
      enum:
        - SIMPLE_REGISTERED_LETTER
        - REGISTERED_LETTER_890
    NotificationDigitalAddress:
      description: Indirizzo di invio della notifica
      required:
      - address
      - type
      type: object
      properties:
        type:
          type: string
          description: tipo di indirizzo PEC, REM, SERCQ, ...
          enum:
          - PEC
        address:
          type: string
          example: account@domain
          description: >-
            Indirizzo PEC o REM che il mittente della notifica intende utilizzare per 
            raggiungere il destinatario.
    NotificationAttachmentBodyRef:
      description: Riferimento all'allegato precaricato
      required:
        - key
        - versionToken
      type: object
      properties:
        key:
          type: string
          description: Chiave in cui è stato salvato l'allegato
        versionToken:
          type: string
          description: Token per recuperare l'esatta istanza dell'allegato
    NotificationAttachmentDigests:
      description: Codici per la verifica del corretto caricamento di un allegato
      type: object
      required:
        - sha256
      properties:
        sha256:
          type: string
          description: Digest "sha256" della codifica binaria dell'allegato
    NotificationAttachment:
      description: >-
        Un allegato della notifica.
      type: object
      required:
        - digests
        - contentType
        - ref
      properties:
        digests:
          $ref: "#/components/schemas/NotificationAttachmentDigests"
        contentType:
          type: string
          description: tipo di contenuto dell'allegato, supportato application/pdf
        ref:
          $ref: "#/components/schemas/NotificationAttachmentBodyRef"
    NotificationAttachmentDownloadMetadataResponse:
      title: Url e metadati per il download di un allegato di una notifica
      description: >-
        I due campi più importanti sono __url__ e __retryAfter__.
        <br/>
          - __url__ è presente se il file è pronto per essere scaricato ed indica l'url a cui fare GET.
          - __retryAfter__ indica che il file è stato archiviato e bisognerà aspettare un numero di
            secondi non inferiore a quanto indicato dal campo _retryAfter_. <br/>
      type: object
      required:
        - filename
        - contentType
        - contentLength
        - sha256
      properties:
        filename:
          type: string
        contentType:
          type: string
          example: application/pdf
        contentLength:
          type: number
          example: 54092
          description: dmensione, in byte, del contenuto.
        sha256:
          type: string
          description: SHA256 del contenuto del file.
        url:
          type: string
          description: URL preautorizzato a cui effettuare una richiesta GET per ottenere
            il  contenuto del documento. Presente solo se il documento
            è pronto per il download.
        retryAfter:
          type: number
          description: Stima del numero di secondi da aspettare prima che il contenuto
            del  documento sia disponibile per il download.
    Problem:
      type: object
      properties:
        type:
          description: URI reference of type definition
          type: string
        status:
          description: The HTTP status code generated by the origin server for this
            occurrence of the problem.
          example: 400
          exclusiveMaximum: true
          format: int32
          maximum: 600
          minimum: 100
          type: integer
        title:
          description: A short, summary of the problem type. Written in english and
            readable
          example: Service Unavailable
          maxLength: 64
          pattern: ^[ -~]{0,64}$
          type: string
        detail:
          description: A human readable explanation of the problem.
          example: Request took too long to complete.
          maxLength: 4096
          pattern: ^.{0,1024}$
          type: string
        errors:
          type: array
          minItems: 0
          items:
            type: object
            properties:
              code:
                description: Internal code of the error
                example: 123-4567
                minLength: 8
                maxLength: 8
                pattern: ^[0-9]{3}-[0-9]{4}$
                type: string
              detail:
                description: A human readable explanation specific to this occurrence of the
                  problem.
                example: Parameter not valid
                maxLength: 4096
                pattern: ^.{0,1024}$
                type: string
            required:
              - code
              - detail
      additionalProperties: false
      required:
        - type
        - status
        - title
        - errors
    LegalFactDownloadMetadataResponse:
      title: Url e metadati per il download di un allegato di una notifica
      description: >-
        I due campi più importanti sono __url__ e __retryAfter__. <br/>
          - __url__ è presente se il file è pronto per essere scaricato ed indica l'url a cui fare GET.
          - __retryAfter__ indica che il file non è stato archiviato e bisognerà aspettare un numero di
            secondi non inferiore a quanto indicato dal campo _retryAfter_. <br/>
      type: object
      required:
        - filename
        - contentLength
      properties:
        filename:
          type: string
        contentLength:
          type: number
          example: 54092
          description: dmensione, in byte, del contenuto.
        url:
          type: string
          description: URL preautorizzato a cui effettuare una richiesta GET per ottenere
            il  contenuto del documento. Presente solo se il documento è pronto
            per il download.
        retryAfter:
          type: number
          description: Stima del numero di secondi da aspettare prima che il contenuto
            del  documento sia scaricabile.
    SentNotification:
      description: Le informazioni riguardanti una richiesta di notifica accettata
      allOf:
        - description: I campi utilizzati per la creazione di una nuova Notifica.
          type: object
          required:
            - paProtocolNumber
            - subject
            - recipients
            - documents
            - physicalCommunicationType
            - notificationFeePolicy
          properties:
            idempotenceToken:
              description: Identificativo utilizzabile dal chiamante per disambiguare
                differenti  "richieste di notificazione" effetuate
                con lo stesso numero di protocollo  (campo
                _paProtocolNumber_). Questo può essere necessario
                in caso di  "richiesta di notifica" rifiutata per
                errori nei codici di verifica degli allegati.
              type: string
            paProtocolNumber:
              description: Numero di protocollo che la PA mittente assegna alla notifica
                stessa
              type: string
            subject:
              type: string
              description: titolo della notifica
            abstract:
              type: string
              description: descrizione sintetica della notifica
            recipients:
              type: array
              description: Informazioni sui destinatari
              items:
                description: Informazioni sui destinatari
                required:
                  - denomination
                  - recipientType
                  - taxId
                type: object
                properties:
                  recipientType:
                    type: string
                    description: "Tipologia di destinatario: Persona Fisica (PF) o Persona Giuridica
                      (PG)"
                    enum:
                      - PF
                      - PG
                  taxId:
                    type: string
                    description: Codice Fiscale del destinatario
                  denomination:
                    type: string
                    description: Nome e cognome / ragione sociale
                  digitalDomicile:
                    description: Indirizzo di invio della notifica
                    required:
                      - address
                      - type
                    type: object
                    properties:
                      type:
                        type: string
                        description: tipo di indirizzo PEC, REM, SERCQ, ...
                        enum:
                          - PEC
                      address:
                        type: string
                        example: account@domain
                        description: Indirizzo PEC o REM che il mittente della notifica intende
                          utilizzare per  raggiungere il
                          destinatario.
                  physicalAddress:
                    description: Indirizzo fisico scoperto durante fase di consegna
                    type: object
                    required:
                      - address
                      - municipality
                      - zip
                    properties:
                      at:
                        type: string
                        description: Campo "presso" dell'indirizzo
                      address:
                        type: string
                        description: Indirizzo del domicilio fisico
                      addressDetails:
                        type: string
                        description: Seconda riga dell'indirizzo fisico
                      zip:
                        type: string
                        description: Codice di avviamento postale
                      municipality:
                        type: string
                        description: Comune
                      municipalityDetails:
                        type: string
                        description: Frazione o località
                      province:
                        type: string
                        description: Provincia
                      foreignState:
                        type: string
                        description: Denominazione paese estero
                  payment:
                    title: Informazioni per effettuare il pagamento
                    description: >-
                      Informazioni utili per effettuare il
                      pagamento di una notifica, sono associate
                      al  destinatario perché le spese di notifica
                      possono differire a seconda del canale
                      di  notifica utilizzato. <br/>
                        - _notificationFeePolicy_: indica se il pagamento delle spese di notifica è forfettario o 
                            calcolato puntualmente. <br/>
                        - _noticeCode_: "codice avviso pagoPA" di pagamento del sistema pagoPA, usato per pagamento online.<br/>
                        - _creditorTaxId_: codice fiscale dell'ente a cui fa riferimento il "codice avviso pagoPA". <br/>
                        - _pagoPaForm_: riferimento al PDF contenete il bollettino pagoPA<br/>
                        - _f24flatRate_: riferimento al PDF contenete l'F24 con spese di notifica forfettarie<br/>
                        - _f24standard_: riferimento al PDF contenete l'F24 con spese di notifica standard<br/>
                    type: object
                    required:
                      - noticeNumber
                      - creditorTaxId
                      - pagoPaForm
                    properties:
                      noticeCode:
                        type: string
                        description: Numero Avviso di pagamento del sistema pagoPA, usato per pagamento
                          online
                      creditorTaxId:
                        type: string
                        description: Codice fiscale dell'ente a cui fa riferimento il "numero avviso".
                      pagoPaForm: 
                        $ref: "#/components/schemas/NotificationAttachment"
                      f24flatRate:
                        $ref: "#/components/schemas/NotificationAttachment"
                      f24standard:
                        $ref: "#/components/schemas/NotificationAttachment"
            documents:
              type: array
              description: Documenti notificati
              items:
                description: Un documento da notifcare
                allOf:
                  - description: Un allegato della notifica.
                    type: object
                    required:
                      - digests
                      - contentType
                      - ref
                    properties:
                      digests:
                        description: Codici per la verifica del corretto caricamento di un allegato
                        type: object
                        required:
                          - sha256
                        properties:
                          sha256:
                            type: string
                            description: Digest "sha256" della codifica binaria dell'allegato
                      contentType:
                        type: string
                        description: tipo di contenuto dell'allegato, supportato application/pdf
                      ref:
                        description: Riferimento all'allegato precaricato
                        required:
                          - key
                          - versionToken
                        type: object
                        properties:
                          key:
                            type: string
                            description: Chiave in cui è stato salvato l'allegato
                          versionToken:
                            type: string
                            description: Token per recuperare l'esatta istanza dell'allegato
                  - type: object
                    properties:
                      title:
                        type: string
                        description: Titolo del documento allegato
                      requiresAck:
                        type: boolean
                        description: Se presente e valorizzato __true__ il download del
                          documento  diventa necessario al fine
                          del perfezionamento per presa visione.
                      sendByMail:
                        type: boolean
                        description: Se presente e valorizzato __true__ il documento verrà
                          spedito  nelle comunicazioni cartacee.
                          In MVP questo flag sarà attivabile  solo
                          su un documento.
                      docIdx:
                        type: string
                        description: Indice del documento partendo da 0.
            notificationFeePolicy:
              type: string
              description: "Politica di addebitamento dei costi di notifica. <br/> -
                _FLAT_RATE_: costo forfettario fisso. <br/> -
                _DELIVERY_MODE_: costo calcolato in base
                all'effettivo percorso di notifica. <br/>"
              enum:
                - FLAT_RATE
                - DELIVERY_MODE
            cancelledIun:
              type: string
              description: IUN della notifica annullata da questa notifica
            physicalCommunicationType:
              type: string
              description: Tipologia comunicazione fisica
              enum:
                - SIMPLE_REGISTERED_LETTER
                - REGISTERED_LETTER_890
            senderDenomination:
              description: Denominazione dell'ente mittente
              type: string
            senderTaxId:
              description: Codice Fiscale dell'ente mittente
              type: string
            group:
              type: string
              description: Gruppo di utenti dell'ente mittente che può visualizzare la
                notifica
        - type: object
          required:
            - iun
            - sentAt
          properties:
            senderPaId:
              type: string
              description: Identificativo IPA della PA mittente che ha eseguito l'onborading
                su SelfCare.
            iun:
              type: string
              description: L'Identificativo Univoco Notifica assegnato da PN
            sentAt:
              type: string
              description: Momento di ricezione della notifica da parte di PN
              format: date-time
            cancelledByIun:
              type: string
              description: IUN della notifica che ha annullato questa notifica
            documentsAvailable:
              type: boolean
              description: Indica se i documenti notificati sono ancora disponibili.
    NotificationPhysicalAddress:
      description: Indirizzo fisico scoperto durante fase di consegna
      type: object
      required:
        - address
        - municipality
        - zip
      properties:
        at:
          type: string
          description: Campo "presso" dell'indirizzo
        address:
          type: string
          description: Indirizzo del domicilio fisico
        addressDetails:
          type: string
          description: Seconda riga dell'indirizzo fisico
        zip:
          type: string
          description: Codice di avviamento postale
        municipality:
          type: string
          description: Comune
        municipalityDetails:
          type: string
          description: Frazione o località
        province:
          type: string
          description: Provincia
        foreignState:
          type: string
          description: Denominazione paese estero
    NotificationStatus:
      type: object
      required:
        - notificationStatus
        - notificationStatusHistory
        - timeline
      properties:
        notificationStatus:
          type: string
          description: stato di avanzamento del processo di notifica
          enum:
            - IN_VALIDATION
            - ACCEPTED
            - DELIVERING
            - DELIVERED
            - VIEWED
            - EFFECTIVE_DATE
            - PAID
            - UNREACHABLE
            - REFUSED
        notificationStatusHistory:
          description: elenco degli avanzamenti effettuati dal processo di notifica
          type: array
          items:
            description: elenco degli avanzamenti effettuati dal processo di notifica
            type: object
            required:
              - status
              - activeFrom
              - relatedTimelineElements
            properties:
              status:
                type: string
                description: stato di avanzamento del processo di notifica
                enum:
                  - IN_VALIDATION
                  - ACCEPTED
                  - DELIVERING
                  - DELIVERED
                  - VIEWED
                  - EFFECTIVE_DATE
                  - PAID
                  - UNREACHABLE
                  - REFUSED
              activeFrom:
                type: string
                description: data e ora di raggiungimento dello stato di avanzamento
                format: date-time
              relatedTimelineElements:
                type: array
                description: Eventi avvenuti nello stato
                items:
                  type: string
        timeline:
          description: elenco dettagliato di tutto ciò che è accaduto durrante il processo
            di notifica
          type: array
          items:
            type: object
            additionalProperties: false
            properties:
              elementId:
                type: string
                description: "Identificativo dell'elemento di timeline: insieme allo IUN della
                  notifica definisce in  maniera univoca
                  l'elemento di timeline"
              timestamp:
                type: string
                description: Momento in cui avviene l'evento desritto in questo elemento di
                  timeline
                format: date-time
              legalFactsIds:
                type: array
                items:
                  description: Chiavi dei documenti generati durante il processo di consegna
                    cartacea
                  type: object
                  required:
                    - key
                    - category
                  properties:
                    key:
                      description: Chiave dell'atto opponibile a terzi generato durante il processo di
                        consegna
                      type: string
                    category:
                      title: Tipi di atti opponibili a terzi
                      description: >-
                        Tipi di atti opponibili a terzi che
                        Piattaforam Notiiche mette a disposizione
                        dei suoi utenti.
                          - _SENDER_ACK_: atto di "presa in carico" di una notifica
                          - _DIGITAL_DELIVERY_: ...
                      type: string
                      enum:
                        - SENDER_ACK
                        - DIGITAL_DELIVERY
                        - ANALOG_DELIVERY
                        - RECIPIENT_ACCESS
                description: Chiavi dei documenti che provano l'effettivo accadimento
                  dell'evento descritto in timeline. Questo
                  elemento
              category:
                type: string
                enum:
                  - REQUEST_ACCEPTED
                  - SEND_COURTESY_MESSAGE
                  - GET_ADDRESS
                  - PUBLIC_REGISTRY_CALL
                  - PUBLIC_REGISTRY_RESPONSE
                  - SCHEDULE_ANALOG_WORKFLOW
                  - SCHEDULE_DIGITAL_WORKFLOW
                  - SEND_DIGITAL_DOMICILE
                  - SEND_DIGITAL_DOMICILE_FEEDBACK
                  - SEND_DIGITAL_FEEDBACK
                  - REFINEMENT
                  - SCHEDULE_REFINEMENT
                  - DIGITAL_SUCCESS_WORKFLOW
                  - DIGITAL_FAILURE_WORKFLOW
                  - ANALOG_SUCCESS_WORKFLOW
                  - ANALOG_FAILURE_WORKFLOW
                  - SEND_SIMPLE_REGISTERED_LETTER
                  - NOTIFICATION_VIEWED
                  - SEND_ANALOG_DOMICILE
                  - SEND_PAPER_FEEDBACK
                  - PAYMENT
                  - COMPLETELY_UNREACHABLE
                  - REQUEST_REFUSED
              details:
                description: The raw event payload that will be different based on the event.
                oneOf:
                  - type: object
                    properties:
                      recIndex:
                        type: integer
                        description: Index destinatario notifica digitale
                  - type: object
                    properties:
                      recIndex:
                        type: integer
                        description: Index destinatario notifica digitale
                  - type: object
                    properties:
                      recIndex:
                        type: integer
                        description: Index destinatario notifica digitale
                      physicalAddress:
                        type: object
                        required:
                          - address
                          - municipality
                          - zip
                        properties:
                          at:
                            type: string
                            description: Campo "presso" dell'indirizzo
                          address:
                            type: string
                            description: Indirizzo del domicilio fisico
                          addressDetails:
                            type: string
                            description: Seconda riga dell'indirizzo fisico
                          zip:
                            type: string
                            description: Codice di avviamento postale
                          municipality:
                            type: string
                            description: Comune in cui l'indirizzo si trova
                          municipalityDetails:
                            type: string
                            description: Frazione o località
                          province:
                            type: string
                            description: Provincia in cui si trova l'indirizzo
                          foreignState:
                            type: string
                            description: Denominazione paese estero
                        description: Indirizzo fisico scoperto durante fase di consegna
                  - type: object
                    properties:
                      recIndex:
                        type: integer
                        description: Index destinatario notifica digitale
                  - type: object
                    properties:
                      recIndex:
                        type: integer
                        description: Index destinatario notifica digitale
                  - type: object
                    properties:
                      recIndex:
                        type: integer
                        description: Index destinatario notifica digitale
                      digitalAddress:
                        description: Indirizzo di invio della notifica
                        required:
                          - address
                          - type
                        type: object
                        properties:
                          type:
                            type: string
                            description: tipo di indirizzo PEC, REM, SERCQ, ...
                            enum:
                              - PEC
                          address:
                            type: string
                            description: account@domain
                  - type: object
                    properties:
                      recIndex:
                        type: integer
                        description: Index destinatario notifica digitale
                      digitalAddressSource:
                        type: string
                        description: sorgente indirizzo di invio della notifica
                        enum:
                          - PLATFORM
                          - SPECIAL
                          - GENERAL
                      isAvailable:
                        type: boolean
                        description: Disponibilità indirizzo
                      attemptDate:
                        type: string
                        description: Data tentativo
                        format: date-time
                  - type: object
                    properties:
                      recIndex:
                        type: integer
                        description: Index destinatario notifica digitale
                  - type: object
                    properties:
                      recIndex:
                        type: integer
                        description: Index destinatario notifica digitale
                      deliveryMode:
                        type: string
                        description: Tipologia Domiciliazione
                        enum:
                          - DIGITAL
                          - ANALOG
                      contactPhase:
                        type: string
                        description: Fase in cui è avvenuta la richiesta
                        enum:
                          - CHOOSE_DELIVERY
                          - SEND_ATTEMPT
                      sentAttemptMade:
                        type: integer
                        description: Numero di tentativi di notificazione già effettuati
                      sendDate:
                        type: string
                        description: Data invio richiesta ai public registry
                        format: date-time
                  - type: object
                    properties:
                      recIndex:
                        type: integer
                        description: Index destinatario notifica digitale
                      digitalAddress:
                        $ref: "#/components/schemas/NotificationDigitalAddress"
                      physicalAddress:
                        $ref: "#/components/schemas/NotificationPhysicalAddress"
                  - type: object
                    properties:
                      recIndex:
                        type: integer
                        description: Index destinatario notifica digitale
                  - type: object
                    properties:
                      errors:
                        type: array
                        description: Motivazioni che hanno portato al rifiuto della notifica
                        items:
                          type: string
                          description: Motivazioni che hanno portato al rifiuto della notifica
                  - type: object
                    properties:
                      recIndex:
                        type: integer
                        description: Index destinatario notifica digitale
                  - type: object
                    properties:
                      recIndex:
                        type: integer
                        description: Informazioni ultimo tentativo effettuato
                      digitalAddress:
                        $ref: "#/components/schemas/NotificationDigitalAddress"
                      digitalAddressSource:
                        $ref: "#/components/schemas/NotificationDigitalAddress"
                      sentAttemptMade:
                        type: integer
                      lastAttemptDate:
                        type: string
                        format: date-time
                  - type: object
                    properties:
                      recIndex:
                        type: integer
                        description: Index destinatario notifica digitale
                  - type: object
                    properties:
                      recIndex:
                        type: integer
                        description: Index destinatario notifica digitale
                      digitalAddress:
                        $ref: "#/components/schemas/NotificationDigitalAddress"
                      sendDate:
                        type: string
                        description: data invio messaggio di cortesia
                        format: date-time
                  - type: object
                    properties:
                      recIndex:
                        type: integer
                        description: Index destinatario notifica digitale
                      digitalAddress:
                        $ref: "#/components/schemas/NotificationDigitalAddress"
                      digitalAddressSource:
                        $ref: "#/components/schemas/NotificationDigitalAddress"
                      retryNumber:
                        type: integer
                        description: numero dei tentativi effettuati
                        format: int32
                      downstreamId:
                        description: identificativo del messaggio nel sistema a valle
                        type: object
                        properties:
                          systemId:
                            type: string
                            description: Identificativo del sistema a valle di inoltro messaggistica
                          messageId:
                            type: string
                            description: Identificativo del messaggio inoltrato
                  - type: object
                    properties:
                      recIndex:
                        type: integer
                        description: Index destinatario notifica digitale
                      digitalAddress:
                        $ref: "#/components/schemas/NotificationDigitalAddress"
                      responseStatus:
                        type: string
                        description: stato risposta ricevuta da externalChannel
                        enum:
                          - OK
                          - KO
                      notificationDate:
                        type: string
                        description: data notifica
                        format: date-time
                      errors:
                        type: array
                        description: Lista errori, vuota in caso di successo
                        items:
                          type: string
                          description: Lista errori, vuota in caso di successo
                  - type: object
                    properties:
                      recIndex:
                        type: integer
                        description: Index destinatario notifica digitale
                      physicalAddress:
                        $ref: "#/components/schemas/NotificationPhysicalAddress"
                      serviceLevel:
                        $ref: "#/components/schemas/ServiceLevel"
                      sentAttemptMade:
                        type: integer
                        description: numero dei tentativi effettuati
                      investigation:
                        type: boolean
                        description: E' richiesta investigazione indirizzo fisico alternativo
                  - type: object
                    properties:
                      recIndex:
                        type: integer
                        description: Index destinatario notifica digitale
                      physicalAddress:
                        $ref: "#/components/schemas/NotificationPhysicalAddress"
                      serviceLevel:
                        $ref: "#/components/schemas/ServiceLevel"
                      sentAttemptMade:
                        type: integer
                        description: numero dei tentativi effettuati
                      investigation:
                        type: boolean
                        description: E' richiesta investigazione indirizzo fisico alternativo
                      newAddress:
                        $ref: "#/components/schemas/NotificationPhysicalAddress"
                      errors:
                        type: array
                        description: Lista errori, vuota in caso di successo
                        items:
                          type: string
                          description: Lista errori, vuota in caso di successo
                  - type: object
                    properties:
                      recIndex:
                        type: integer
                        description: Index destinatario notifica digitale
                      physicalAddress:
                        $ref: "#/components/schemas/NotificationPhysicalAddress"
    FullReceivedNotification:
      description: Le informazioni riguardanti una richiesta di notifica accettata e il processo di  inoltro della notifica verso i destinatari (Persone Fisiche o Giuridiche).
      allOf:
        - $ref: "#/components/schemas/SentNotification"
        - $ref: "#/components/schemas/NotificationStatus"
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
security:
  - ApiKeyAuth: []
