name: Opex Dashboard api_identity

on:
  push:
    branches:
      - master
    paths:
      - 'openapi/generated/api_identity.yaml'
      - '.github/workflows/opex_api_identity.yml'
      - '.opex/api_identity/**'

  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}

permissions: {}

jobs:
  apply:
    uses: ./.github/workflows/call_opex_api.yml
    name: Apply changes to Production
    secrets: inherit
    with:
      api_name: api_identity
